Repository Ouranosinc/xclim, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, indicators, sdba

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

# label 'ci' all automation-related steps and files
#   Since this repository is in itself an automation process to deploy a server instance,
#   we refer here to CI as the 'meta' configuration files for managing the code and integrations with the repository,
#   not configurations related to the deployment process itself.
CI:
  - .*  # all '.<something>' files
  - .github/workflows/*
  - docs/Makefile
  - pylintrc
  - tox.ini
  - Makefile

docs:
  - ".readthedocs.yml"
  - docs/**/*
  - AUTHORS.rst
  - CONTRIBUTING.rst
  - ISSUE_TEMPLATE/**/*
  - ISSUE_TEMPLATE.md
  - PULL_REQUEST_TEMPLATE.md
  - README.rst

indicators:
  - xclim/indicators/**/*
  - xclim/indicators/**/*
  - xclim/indices/**/_*.py
  - xclim/data/**/*.json
  - xclim/data/**/*.yml

sdba:
  - xclim/sdba/**/*

link readme directly in sphinx docs
  README.rst
  docs/index.rst
Labels: docs

update references, add latitude handling to DI (untested)
  docs/references.bib
  xclim/indices/_agro.py
Labels: docs, indicators

add context
  xclim/ensembles/_base.py
Labels: none

history
  HISTORY.rst
Labels: none

remove line
  xclim/ensembles/_base.py
Labels: none

Working version of DI with hemisphere handling
  xclim/indices/_agro.py
Labels: indicators

correct handling of evapotranspiration for consistency with formula
  xclim/indices/_agro.py
Labels: indicators

positive up is the convention for evspsblpot
  xclim/indices/_agro.py
Labels: indicators

less flagrancy
  xclim/indices/_agro.py
Labels: indicators

confirm the calculation of JPM
  xclim/indices/_agro.py
Labels: indicators

mask
  xclim/sdba/properties.py
Labels: sdba

fix docstrings
  xclim/indicators/atmos/_temperature.py
  xclim/indices/_agro.py
Labels: indicators

add dryness index indicator
  xclim/data/fr.json
  xclim/indicators/atmos/_precip.py
Labels: indicators

update HISTORY.rst
  HISTORY.rst
Labels: none

add linkcheck ignore
  docs/conf.py
Labels: docs

add contributors
  HISTORY.rst
Labels: none

Implementation - it is untested
  HISTORY.rst
  xclim/core/formatting.py
  xclim/core/indicator.py
  xclim/core/utils.py
  xclim/data/fr.json
  xclim/indices/_agro.py
  xclim/indices/_anuclim.py
  xclim/indices/_conversion.py
  xclim/indices/_multivariate.py
  xclim/indices/_simple.py
  xclim/indices/_threshold.py
  xclim/indices/fire/_cffwis.py
  xclim/indices/generic.py
  xclim/indices/helpers.py
Labels: indicators

Add test for history - suggestions in doc after review
  xclim/core/indicator.py
  xclim/testing/tests/test_modules.py
Labels: none

import nc time axis explicitely
  docs/notebooks/sdba-advanced.ipynb
  docs/notebooks/sdba.ipynb
Labels: docs

address review comments, add LaTeX formulae
  xclim/indicators/atmos/_precip.py
  xclim/indicators/atmos/_temperature.py
  xclim/indices/_agro.py
  xclim/testing/tests/conftest.py
Labels: indicators

docstring and formula adjustments
  xclim/indices/_agro.py
Labels: indicators

fix parentheses
  xclim/indices/_agro.py
Labels: indicators

remove xclim.subset mock module
  docs/api.rst
  xclim/subset.py
Labels: docs

update HISTORY.rst
  HISTORY.rst
Labels: none

add pull number
  HISTORY.rst
Labels: none

Add documentation to spatial props - smaller first_eof test
  docs/references.bib
  xclim/sdba/properties.py
  xclim/testing/tests/test_sdba/test_properties.py
Labels: docs, sdba

try moving readme to another document
  README.rst
  docs/index.rst
  docs/readme.rst
Labels: docs

Even smaller region - fix test
  xclim/testing/tests/test_sdba/test_properties.py
Labels: none

remove xclim.subset tests
  xclim/testing/tests/test_subset.py
Labels: none

fridays are hard
  xclim/testing/tests/test_sdba/test_properties.py
Labels: none

skip llvmlite reinstall step
  .readthedocs.yml
Labels: CI, docs

add dataflag checks for relevant variables
  xclim/data/variables.yml
Labels: indicators

updated HISTORY.rst
  HISTORY.rst
Labels: none

fix history warnings
  HISTORY.rst
Labels: none

try skipping links for python block
  README.rst
Labels: docs

fix block list
  HISTORY.rst
Labels: none

Update xclim/indicators/land/_streamflow.py
  xclim/indicators/land/_streamflow.py
Labels: indicators

change heading levels
  README.rst
Labels: docs

Update HISTORY.rst
  HISTORY.rst
Labels: none

Smaller zone
  xclim/testing/tests/test_sdba/test_properties.py
Labels: none
