Repository Ouranosinc/xclim, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, indicators, sdba

Created generic indicator realm. Moved generic indicators from land realm to generic realm. Renamed streamflow indicators
  HISTORY.rst
  xclim/__init__.py
  xclim/indicators/generic/__init__.py
  xclim/indicators/generic/_stats.py
  xclim/indicators/land/_streamflow.py
  xclim/testing/tests/test_generic.py
  xclim/testing/tests/test_generic_indicators.py
  xclim/testing/tests/test_land.py
  xclim/testing/tests/test_stats.py
Labels: indicators

reinstated streamflow indicators to avoid breaking code without a deprecation warning
  HISTORY.rst
  xclim/data/fr.json
  xclim/indicators/generic/_stats.py
  xclim/indicators/land/_streamflow.py
  xclim/testing/tests/test_land.py
Labels: indicators

fix the build triggering for approved pull requests
  .github/workflows/main.yml
Labels: CI

Update reference for Alavoine and Grenier 2022 article
  docs/references.bib
  xclim/sdba/adjustment.py
  xclim/sdba/processing.py
  xclim/sdba/properties.py
  xclim/sdba/utils.py
Labels: docs, sdba

clean up docstrings
  xclim/sdba/processing.py
Labels: sdba

clean up docstrings
  xclim/sdba/processing.py
Labels: sdba

https everywhere
  docs/references.bib
Labels: docs

add context instructions
  docs/notebooks/example.yml
  xclim/core/dataflags.py
  xclim/core/units.py
  xclim/data/schema.yml
  xclim/indices/_agro.py
  xclim/indices/generic.py
  xclim/sdba/properties.py
  xclim/testing/tests/test_sdba/test_processing.py
  xclim/testing/tests/test_sdba/test_properties.py
  xclim/testing/tests/test_units.py
Labels: docs, indicators, sdba

update HISTORY.rst
  HISTORY.rst
Labels: none

WIP - CF and generalization
  xclim/core/units.py
  xclim/data/variables.yml
Labels: indicators

Automatic CF conversions - new amount-to-lwethickness
  HISTORY.rst
  xclim/core/units.py
  xclim/data/variables.yml
Labels: indicators

CF and generalization - upd units nb
  docs/notebooks/units.ipynb
  xclim/core/units.py
Labels: docs

fix hist - upd units nb
  HISTORY.rst
  docs/notebooks/units.ipynb
Labels: docs

Fix reordering logic in MBCn example
  HISTORY.rst
  docs/notebooks/sdba.ipynb
Labels: docs

fixtures within session scope
  xclim/testing/tests/conftest.py
Labels: none

split linkcheck and html builders into separate recipes
  Makefile
Labels: CI

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

# label 'ci' all automation-related steps and files
#   Since this repository is in itself an automation process to deploy a server instance,
#   we refer here to CI as the 'meta' configuration files for managing the code and integrations with the repository,
#   not configurations related to the deployment process itself.
CI:
  - .*  # all '.<something>' files
  - .github/workflows/*
  - docs/Makefile
  - pylintrc
  - tox.ini
  - Makefile

docs:
  - ".readthedocs.yml"
  - docs/**/*
  - AUTHORS.rst
  - CONTRIBUTING.rst
  - ISSUE_TEMPLATE/**/*
  - ISSUE_TEMPLATE.md
  - PULL_REQUEST_TEMPLATE.md
  - README.rst

indicators:
  - xclim/indicators/**/*
  - xclim/indicators/**/*
  - xclim/indices/**/_*.py
  - xclim/data/**/*.json
  - xclim/data/**/*.yml

sdba:
  - xclim/sdba/**/*
