Repository Ouranosinc/xclim, pull requests merged in 2018-10, with the labels that each got.

#46 Check that array has daily frequency
  setup.cfg
  tests/test_checks.py
  xclim/checks.py
  xclim/indices.py
Labels: enhancement

#50 Rx1day
  tests/test_indices.py
  xclim/indices.py
Labels: enhancement

#49 Definitions and formatting
  tests/test_indices.py
  tests/test_utils.py
  xclim/indices.py
  xclim/run_length.py
  xclim/utils.py
Labels: enhancement, help wanted

#53 CodeFactor style fixes
  tests/test_indices.py
  xclim/__init__.py
  xclim/checks.py
  xclim/run_length.py
Labels: enhancement, help wanted

#60 Failure testing
  tests/test_checks.py
  tests/test_indices.py
  tests/test_modules.py
  tests/test_temperature.py
  tests/test_utils.py
  xclim/__init__.py
  xclim/checks.py
  xclim/indices.py
  xclim/testing/__init__.py
  xclim/testing/common.py
Labels: enhancement

#45 Error and Warning Logging
  requirements.txt
  setup.py
  tests/test_modules.py
  xclim/__init__.py
  xclim/checks.py
  xclim/indices.py
  xclim/run_length.py
  xclim/stats.py
Labels: enhancement, standards / conventions

#76 Python3.7 build
  .travis.yml
  tox.ini
Labels: enhancement

#82 ETR and ICCLIM Docstrings
  tests/test_indices.py
  xclim/__init__.py
  xclim/indices.py
Labels: enhancement, standards / conventions

#93 Indice doc
  xclim/indices.py
Labels: enhancement
