Repository Ouranosinc/xclim, pull requests merged in 2019-11, with the labels that each got.

#290 Fix 279
  HISTORY.rst
  MANIFEST.in
  setup.cfg
  tests/__init__.py
  xclim/ensembles.py
Labels: enhancement, priority

#277 added a few scripts to switch between sfcWind and uas/vas
  HISTORY.rst
  docs/utilities.rst
  tests/test_utils.py
  xclim/utils.py
Labels: enhancement

#291 Support Python3.8
  .travis.yml
  HISTORY.rst
  docs/installation.rst
  setup.py
  tox.ini
Labels: enhancement

#289 Options for precipitation_accumulation to compute solid and/or liquide phases
  AUTHORS.rst
  HISTORY.rst
  tests/test_indices.py
  tests/test_precip.py
  xclim/atmos/_precip.py
  xclim/indices/_multivariate.py
  xclim/indices/_simple.py
  xclim/utils.py
Labels: enhancement

#295 Pin Bottleneck to 1.2.1
  setup.py
Labels: bug

#293 Add heatwave total
  .pre-commit-config.yaml
  .travis.yml
  HISTORY.rst
  setup.cfg
  tests/test_indices.py
  tox.ini
  xclim/atmos/_temperature.py
  xclim/indices/_multivariate.py
Labels: enhancement

#301 Fix function signatures and standardize all to xarray
  xclim/indices/_multivariate.py
  xclim/indices/_simple.py
  xclim/indices/_threshold.py
Labels: bug, enhancement

#312 Add tas (tg) indice and tests
  HISTORY.rst
  tests/test_indices.py
  tests/test_temperature.py
  xclim/atmos/_temperature.py
  xclim/indices/_multivariate.py
  xclim/utils.py
Labels: enhancement
