Repository Ouranosinc/xclim, pull requests merged in 2019-09, with the labels that each got.

#266 Added a temperature threshold for freezethaw cycle events
  .github/ISSUE_TEMPLATE.md
  docs/index.rst
  docs/itable.py
  docs/itable.rst
  docs/rstjinja.py
  setup.cfg
  tests/test_indices.py
  tests/test_temperature.py
  xclim/atmos/__init__.py
  xclim/atmos/_temperature.py
  xclim/indices/__init__.py
  xclim/indices/_multivariate.py
  xclim/indices/_threshold.py
  xclim/utils.py
Labels: enhancement

#267 FutureWarnings implemented for start and end years
  HISTORY.rst
  setup.py
  tests/test_subset.py
  tests/test_utils.py
  xclim/subset.py
Labels: enhancement, standards / conventions

#275 Fix compliance
  .pre-commit-config.yaml
  setup.cfg
Labels: enhancement, standards / conventions

#274 Fix 270
  HISTORY.rst
  setup.py
  tests/test_indices.py
  tests/test_subset.py
  xclim/ensembles.py
  xclim/indices/__init__.py
  xclim/subset.py
  xclim/utils.py
Labels: bug, enhancement

#273 Fix 271
  HISTORY.rst
  tests/test_subset.py
  xclim/subset.py
Labels: bug, enhancement
