Repository Ouranosinc/xclim, pull requests merged in 2019-12, with the labels that each got.

#315 Bump bottleneck version
  setup.py
  tox.ini
Labels: bug

#318 Fix calc_perc and add xr kwargs to ensembles
  tests/test_ensembles.py
  xclim/ensembles.py
Labels: bug, enhancement

#311 Optimize rolling dask
  HISTORY.rst
  tests/test_precip.py
  tests/test_temperature.py
  tests/test_utils.py
  xclim/generic.py
  xclim/indices/_multivariate.py
  xclim/indices/_simple.py
  xclim/indices/_threshold.py
  xclim/run_length.py
  xclim/utils.py
Labels: enhancement

#285 Polygon subsetting
  .travis.yml
  HISTORY.rst
  docs/indices.rst
  docs/installation.rst
  docs/utilities.rst
  setup.py
  tests/test_subset.py
  tests/testdata/cmip5/eastern_canada.json
  tests/testdata/cmip5/meridian.json
  tests/testdata/cmip5/poslons.json
  tests/testdata/cmip5/small_geojson.json
  tests/testdata/cmip5/southern_qc_geojson.json
  tests/testdata/cmip5/tas_Amon_CanESM2_rcp85_r1i1p1_200701-200712.nc
  tox.ini
  xclim/subset.py
Labels: enhancement, priority
