Repository Ouranosinc/xclim, pull requests merged in 2019-06, with the labels that each got.

#222 Add reminders in the PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: enhancement, standards / conventions

#230 Fix 228: add patch to version number
  .github/CONTRIBUTING.rst
  .github/PULL_REQUEST_TEMPLATE.md
  HISTORY.rst
  setup.cfg
  setup.py
  xclim/__init__.py
Labels: enhancement, standards / conventions

#229 only cf_attrs are stored in the output.
  HISTORY.rst
  xclim/utils.py
Labels: enhancement, standards / conventions

#234 Added utilities to expose algorithms in docs
  HISTORY.rst
  docs/index.rst
  docs/usage.rst
  docs/utilities.rst
  setup.cfg
  setup.py
  xclim/__init__.py
Labels: enhancement

#238 Fix-237
  HISTORY.rst
  docs/indices.rst
Labels: standards / conventions

#235 Fix 233
  HISTORY.rst
  tests/test_utils.py
  xclim/utils.py
Labels: enhancement, standards / conventions

#239 Pre-Commit Hooks and Black code formatting
  .github/CONTRIBUTING.rst
  .pre-commit-config.yaml
  .travis.yml
  HISTORY.rst
  requirements_dev.txt
  tests/conftest.py
  tests/test_checks.py
  tests/test_generic.py
  tests/test_indices.py
  tests/test_modules.py
  tests/test_precip.py
  tests/test_run_length.py
  tests/test_streamflow.py
  tests/test_temperature.py
  tests/test_utils.py
  tox.ini
  xclim/__init__.py
  xclim/atmos/_precip.py
  xclim/atmos/_temperature.py
  xclim/checks.py
  xclim/ensembles.py
  xclim/generic.py
  xclim/indices/_multivariate.py
  xclim/indices/_simple.py
  xclim/indices/_threshold.py
  xclim/run_length.py
  xclim/streamflow.py
  xclim/subset.py
  xclim/testing/common.py
  xclim/utils.py
Labels: enhancement, standards / conventions

#243 Skipping GrowingSeasonLength tests in Python3.7
  tests/test_indices.py
  tests/test_temperature.py
Labels: bug

#240 Doc cleanup and examples
  .github/CONTRIBUTING.rst
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .readthedocs.yml
  .travis.yml
  HISTORY.rst
  MANIFEST.in
  README.rst
  docs/conf.py
  docs/index.rst
  docs/installation.rst
  docs/notebooks/example.ipynb
  docs/usage.rst
  setup.cfg
  setup.py
  tox.ini
Labels: Information
