Repository Ouranosinc/xclim, pull requests merged in 2020-08, with the labels that each got.

#514 Enable pydocstyle hook
  .pre-commit-config.yaml
  tox.ini
  xclim/ensembles.py
  xclim/indicators/__init__.py
Labels: standards / conventions

#520 Enable doctests using xdoctest conventions
  .github/CONTRIBUTING.rst
  .travis.yml
  HISTORY.rst
  docs/installation.rst
  setup.cfg
  setup.py
  tests/conftest.py
  tox.ini
  xclim/__init__.py
  xclim/core/calendar.py
  xclim/ensembles.py
  xclim/indices/_anuclim.py
  xclim/indices/_multivariate.py
  xclim/indices/_simple.py
  xclim/indices/_threshold.py
Labels: bug, enhancement

#524 Fix bottleneck@master build and install dev recipes on Anaconda builds
  .travis.yml
  tox.ini
Labels: bug

#523 Fix docs for warm_spell_duration_index
  xclim/indices/_multivariate.py
Labels: bug

#508 subset module is replaced by clisops library
  .gitignore
  .travis.yml
  HISTORY.rst
  docs/api.rst
  docs/conf.py
  docs/notebooks/index.rst
  docs/notebooks/mappings.ipynb
  docs/notebooks/subset.ipynb
  docs/notebooks/xclim_training/XCLIM_calculate_index-Exemple.ipynb
  environment.yml
  setup.cfg
  setup.py
  tests/test_subset.py
  tox.ini
  xclim/__init__.py
  xclim/subset.py
Labels: enhancement, standards / conventions

#536 Update black in pre-commit hooks, reformat code base, remove python-pandoc
  .pre-commit-config.yaml
  HISTORY.rst
  setup.cfg
  setup.py
  tests/conftest.py
  tests/test_atmos.py
  tests/test_fwi.py
  tests/test_indices.py
  tests/test_run_length.py
  tests/test_sdba/conftest.py
  tests/test_sdba/test_adjustment.py
  tests/test_sdba/utils.py
  tests/test_subset.py
  tox.ini
  xclim/__init__.py
  xclim/core/calendar.py
  xclim/core/formatting.py
  xclim/core/indicator.py
  xclim/ensembles.py
  xclim/indicators/atmos/_conversion.py
  xclim/indices/_anuclim.py
  xclim/indices/_conversion.py
  xclim/indices/_threshold.py
  xclim/indices/fwi.py
  xclim/indices/run_length.py
  xclim/sdba/adjustment.py
  xclim/sdba/processing.py
  xclim/sdba/utils.py
Labels: standards / conventions
