Repository Ouranosinc/xclim, pull requests merged in 2020-09, with the labels that each got.

#342 Add command line interface
  .pre-commit-config.yaml
  HISTORY.rst
  docs/index.rst
  docs/notebooks/cli.ipynb
  environment.yml
  setup.py
  tests/test_cli.py
  tests/test_indicators.py
  xclim/cli.py
  xclim/core/formatting.py
  xclim/core/indicator.py
  xclim/core/options.py
  xclim/indicators/atmos/_precip.py
  xclim/indices/_conversion.py
  xclim/indices/_multivariate.py
  xclim/indices/_simple.py
  xclim/indices/_threshold.py
  xclim/indices/generic.py
Labels: enhancement, standards / conventions

#548 Fix precommit
  .pre-commit-config.yaml
Labels: bug

#553 Reduce number of simultaneous Travis CI jobs
  .travis.yml
  tox.ini
Labels: Information, enhancement

#550 Add rb_flashiness_index
  HISTORY.rst
  tests/test_hydrology.py
  tests/test_indices.py
  tests/test_land.py
  xclim/indicators/land/_streamflow.py
  xclim/indices/__init__.py
  xclim/indices/_hydrology.py
  xclim/indices/_simple.py
  xclim/locales/fr.json
Labels: enhancement
