Repository Ouranosinc/xclim, pull requests merged in 2020-02, with the labels that each got.

#354 Fix create_mask
  tests/test_subset.py
  xclim/subset.py
Labels: bug

#357 Fix units problem for tas (and atmos.tg)
  tests/test_indices.py
  xclim/indices/_multivariate.py
Labels: bug

#358 Fix subset bbox with lat/lon without coords
  HISTORY.rst
  tests/test_subset.py
  xclim/subset.py
Labels: bug

#362 use stable Python3.8 and add an Anaconda-based build
  .travis.yml
  tox.ini
Labels: bug, enhancement

#363 Bug fix for lat/lon in dask arrays
  HISTORY.rst
  tests/test_subset.py
  xclim/subset.py
Labels: bug

#164 Create time_bnds variable for CFTimeIndex or when resampling
  HISTORY.rst
  setup.cfg
  setup.py
  tests/test_utils.py
  xclim/__init__.py
  xclim/utils.py
Labels: enhancement

#360 Fix boolean checking with np.all
  xclim/run_length.py
Labels: enhancement

#366 Bugfix: add poppler to Anaconda dependencies
  environment.yml
Labels: bug

#367 Lazy subset shape, MultiPolygon crossing meridian, DataArray in subset_shape.
  HISTORY.rst
  tests/test_subset.py
  tests/testdata/cmip5/meridian_multi.json
  xclim/subset.py
Labels: bug, enhancement

#372 Fixes in subset, winter_rain_ratio, percentile_doy and heat_wave_total_length
  HISTORY.rst
  tests/test_indices.py
  tests/test_temperature.py
  tests/test_utils.py
  xclim/atmos/_temperature.py
  xclim/indices/_multivariate.py
  xclim/subset.py
  xclim/utils.py
Labels: bug

#371 Support pint 0.10
  HISTORY.rst
  environment.yml
  setup.py
  tests/test_utils.py
  xclim/indices/_multivariate.py
  xclim/utils.py
Labels: enhancement

#377 Subset gridpoint nd latlon
  HISTORY.rst
  tests/test_subset.py
  xclim/subset.py
Labels: bug

#380 Fix #378 : Retrieve coordinate values in first_run.
  HISTORY.rst
  setup.cfg
  setup.py
  tests/test_run_length.py
  xclim/__init__.py
  xclim/indices/_threshold.py
  xclim/run_length.py
Labels: enhancement
