Repository Ouranosinc/xclim, pull requests merged in 2020-01, with the labels that each got.

#310 Reduce UserWarnings and adapt to future deprecations
  HISTORY.rst
  setup.cfg
  tests/test_streamflow.py
  tests/test_subset.py
  tests/test_utils.py
  xclim/ensembles.py
  xclim/subset.py
  xclim/utils.py
Labels: enhancement, standards / conventions

#332 Update code base to Py36 conventions
  .github/CONTRIBUTING.rst
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .pre-commit-config.yaml
  .travis.yml
  HISTORY.rst
  setup.cfg
  setup.py
  tests/test_checks.py
  tests/test_ensembles.py
  tests/test_precip.py
  tests/test_run_length.py
  tests/test_subset.py
  tests/test_utils.py
  tox.ini
  xclim/__init__.py
  xclim/checks.py
  xclim/ensembles.py
  xclim/generic.py
  xclim/run_length.py
  xclim/streamflow.py
  xclim/subset.py
  xclim/utils.py
Labels: standards / conventions

#338 Prospective fix for TestMissingAny*
  HISTORY.rst
  xclim/checks.py
Labels: bug

#340 Updated dependencies for less install confusion
  environment.yml
  setup.py
Labels: priority

#341 Better logging and more cleanup
  xclim/checks.py
  xclim/ensembles.py
  xclim/generic.py
  xclim/indices/__init__.py
  xclim/streamflow.py
  xclim/subset.py
  xclim/utils.py
Labels: standards / conventions

#339 Improvement of ensemble_percentile | Fix of #298
  HISTORY.rst
  tests/test_ensembles.py
  xclim/ensembles.py
Labels: enhancement

#346 Fix 345
  README.rst
  setup.py
Labels: standards / conventions

#347 Multi-region masks
  HISTORY.rst
  setup.cfg
  setup.py
  tests/test_subset.py
  tests/testdata/cmip5/multi_regions.json
  xclim/__init__.py
  xclim/subset.py
Labels: bug, enhancement

#349 Improve Growing Season Length and fix `rle1d`
  HISTORY.rst
  tests/test_indices.py
  xclim/atmos/_temperature.py
  xclim/indices/_threshold.py
  xclim/run_length.py
Labels: bug, enhancement, standards / conventions

#348 Reformat lon and lat dimnames for atypically named data dimensions
  HISTORY.rst
  setup.cfg
  setup.py
  tests/test_subset.py
  xclim/__init__.py
  xclim/subset.py
Labels: enhancement, help wanted, standards / conventions

#226 Implement fire weather index
  HISTORY.rst
  tests/__init__.py
  tests/conftest.py
  tests/data.py
  tests/test_fwi.py
  tests/test_indices.py
  tests/test_utils.py
  xclim/atmos/_precip.py
  xclim/indices/_multivariate.py
  xclim/indices/fwi.py
  xclim/run_length.py
  xclim/testing/__init__.py
  xclim/utils.py
Labels: enhancement
