Repository Ouranosinc/xclim, pull requests merged in 2020-05, with the labels that each got.

#425 New sdba module for Bias-adjustment (and statistical downscaling)
  .travis.yml
  HISTORY.rst
  docs/api.rst
  docs/index.rst
  docs/sdba.rst
  docs/sdba_api.rst
  setup.cfg
  setup.py
  tests/test_sdba/__init__.py
  tests/test_sdba/conftest.py
  tests/test_sdba/diagnostics.py
  tests/test_sdba/test_adjustment.py
  tests/test_sdba/test_detrending.py
  tests/test_sdba/test_processing.py
  tests/test_sdba/test_properties.py
  tests/test_sdba/test_utils.py
  tests/test_sdba/utils.py
  xclim/__init__.py
  xclim/sdba/__init__.py
  xclim/sdba/adjustment.py
  xclim/sdba/base.py
  xclim/sdba/detrending.py
  xclim/sdba/processing.py
  xclim/sdba/utils.py
Labels: DACCS, enhancement

#453 Support units of 1
  tests/test_units.py
  xclim/core/units.py
Labels: enhancement

#464 Make windows build use Anaconda + update macOS build
  .travis.yml
  HISTORY.rst
  setup.cfg
  setup.py
  tests/test_locales.py
  tox.ini
  xclim/__init__.py
  xclim/core/locales.py
Labels: enhancement, standards / conventions
