Repository Ouranosinc/xclim, pull requests merged in 2020-03, with the labels that each got.

#359 Metadata internationalization
  HISTORY.rst
  docs/conf.py
  tests/test_indicators.py
  tests/test_locales.py
  tests/test_utils.py
  xclim/atmos/_precip.py
  xclim/atmos/_temperature.py
  xclim/indicator.py
  xclim/land/_streamflow.py
  xclim/locales/__init__.py
  xclim/locales/fr.json
  xclim/seaIce/_seaice.py
  xclim/utils.py
Labels: enhancement

#385 Restructure xclim
  HISTORY.rst
  docs/api.rst
  docs/conf.py
  docs/index.rst
  docs/indicators.rst
  docs/internationalization.rst
  docs/notebooks/example.ipynb
  docs/notebooks/units.ipynb
  tests/conftest.py
  tests/test_calendar.py
  tests/test_checks.py
  tests/test_generic.py
  tests/test_indicators.py
  tests/test_indices.py
  tests/test_land.py
  tests/test_locales.py
  tests/test_modules.py
  tests/test_precip.py
  tests/test_run_length.py
  tests/test_temperature.py
  tests/test_units.py
  tests/test_utils.py
  xclim/__init__.py
  xclim/core/calendar.py
  xclim/core/checks.py
  xclim/core/formatting.py
  xclim/core/indicator.py
  xclim/core/units.py
  xclim/core/utils.py
  xclim/indicators/__init__.py
  xclim/indicators/atmos/__init__.py
  xclim/indicators/atmos/_precip.py
  xclim/indicators/atmos/_temperature.py
  xclim/indicators/land/__init__.py
  xclim/indicators/land/_streamflow.py
  xclim/indicators/seaIce/__init__.py
  xclim/indicators/seaIce/_seaice.py
  xclim/indices/__init__.py
  xclim/indices/_multivariate.py
  xclim/indices/_simple.py
  xclim/indices/_threshold.py
  xclim/indices/generic.py
  xclim/indices/run_length.py
  xclim/locales/__init__.py
  xclim/stats.py
  xclim/streamflow.py
  xclim/utils.py
Labels: enhancement, priority

#375 Simplify some of the CRS handling
  HISTORY.rst
  environment.yml
  setup.cfg
  setup.py
  tests/test_subset.py
  tests/testdata/cmip5/meridian_multi.json
  xclim/__init__.py
  xclim/subset.py
Labels: enhancement

#379 Date-based indices, docstring and test cleanup and mappings notebook
  HISTORY.rst
  docs/notebooks/index.rst
  docs/notebooks/mappings.ipynb
  docs/notebooks/subset.ipynb
  docs/notebooks/usage.ipynb
  setup.cfg
  setup.py
  tests/test_indices.py
  tests/test_run_length.py
  xclim/__init__.py
  xclim/indicators/atmos/_precip.py
  xclim/indicators/atmos/_temperature.py
  xclim/indices/_multivariate.py
  xclim/indices/_threshold.py
  xclim/indices/run_length.py
  xclim/locales/__init__.py
  xclim/locales/fr.json
Labels: enhancement

#388 Improve fire weather
  HISTORY.rst
  environment.yml
  setup.py
  tests/test_fwi.py
  xclim/indices/_multivariate.py
  xclim/indices/fwi.py
Labels: enhancement

#398 Made units.convert_units_to lazy
  HISTORY.rst
  tests/test_units.py
  xclim/core/units.py
Labels: enhancement

#399 Downscaling and bias-correction module
  xclim/downscaling/__init__.py
  xclim/downscaling/detrending.py
  xclim/downscaling/grouping.py
  xclim/downscaling/mapping.py
  xclim/downscaling/pipeline.py
  xclim/downscaling/utils.py
Labels: enhancement

#401 Render CRS metadata written to projected files CF-compliant
  HISTORY.rst
  environment.yml
  setup.cfg
  setup.py
  tests/conftest.py
  tests/test_subset.py
  xclim/__init__.py
  xclim/subset.py
Labels: enhancement, standards / conventions

#406 Employ `assign_coords` to address api deprecations in 0.15.1
  environment.yml
  setup.py
  tests/test_subset.py
Labels: bug

#394 Better partial wrapping
  HISTORY.rst
  environment.yml
  setup.py
  tests/data.py
  tests/test_utils.py
  xclim/core/indicator.py
  xclim/core/units.py
  xclim/core/utils.py
  xclim/indicators/__init__.py
  xclim/indicators/atmos/_precip.py
Labels: enhancement

#393 Add relative humidity utility
  HISTORY.rst
  docs/notebooks/example.ipynb
  environment.yml
  setup.cfg
  setup.py
  tests/conftest.py
  tests/data.py
  tests/test_atmos.py
  tests/test_indicators.py
  tests/test_indices.py
  tests/test_utils.py
  xclim/__init__.py
  xclim/core/indicator.py
  xclim/core/units.py
  xclim/core/utils.py
  xclim/indicators/__init__.py
  xclim/indicators/atmos/__init__.py
  xclim/indicators/atmos/_conversion.py
  xclim/indicators/atmos/_precip.py
  xclim/indicators/atmos/_temperature.py
  xclim/indices/__init__.py
  xclim/indices/_conversion.py
  xclim/indices/_multivariate.py
  xclim/indices/fwi.py
Labels: enhancement
