Repository Ouranosinc/xclim, pull requests merged in 2021-07, with the labels that each got.

#753 Add Huglin Index
  HISTORY.rst
  setup.cfg
  setup.py
  xclim/__init__.py
  xclim/core/units.py
  xclim/data/icclim.yml
  xclim/indicators/atmos/_temperature.py
  xclim/indices/_agro.py
  xclim/indices/generic.py
  xclim/testing/tests/test_generic.py
  xclim/testing/tests/test_indices.py
  xclim/testing/tests/test_modules.py
Labels: enhancement

#746 Add a .zenodo.json config and a CFF file
  .github/PULL_REQUEST_TEMPLATE.md
  .zenodo.json
  HISTORY.rst
  README.rst
Labels: standards / conventions

#768 Minor contribution guidelines update
  .github/CONTRIBUTING.rst
Labels: bug

#781 Docstring and call signature modifications
  xclim/analog.py
  xclim/core/units.py
  xclim/core/utils.py
  xclim/indicators/atmos/_conversion.py
  xclim/indicators/atmos/_precip.py
  xclim/indices/_agro.py
  xclim/indices/_anuclim.py
  xclim/indices/_conversion.py
  xclim/indices/_multivariate.py
  xclim/indices/_threshold.py
  xclim/indices/generic.py
  xclim/sdba/_adjustment.py
  xclim/sdba/adjustment.py
  xclim/sdba/nbutils.py
  xclim/sdba/processing.py
  xclim/sdba/utils.py
Labels: standards / conventions

#782 Unbundle clisops from conda package
  HISTORY.rst
  docs/installation.rst
  environment.yml
  setup.cfg
  setup.py
  xclim/__init__.py
Labels: standards / conventions
