Repository Ouranosinc/xclim, pull requests merged in 2021-12, with the labels that each got.

#945 Allow a few more special chars in username regex
  HISTORY.rst
  xclim/testing/_utils.py
Labels: bug

#947 Fix usage notebook
  docs/notebooks/usage.ipynb
Labels: invalid

#943 use xarray.apply_ufunc to simplify the vectorization of statistical functions
  HISTORY.rst
  xclim/indices/stats.py
Labels: enhancement, Information

#954 Contributor documentation updates
  .github/CONTRIBUTING.rst
  .pre-commit-config.yaml
Labels: standards / conventions

#953 Fix minor metadata issues
  HISTORY.rst
  xclim/indices/_multivariate.py
  xclim/indices/_threshold.py
Labels: invalid

#955 intersphinx Mapping xarray
  HISTORY.rst
  docs/conf.py
Labels: enhancement

#926 Added MB05 method to potential_evapotranspiration calculation.
  .zenodo.json
  AUTHORS.rst
  HISTORY.rst
  xclim/indices/_conversion.py
  xclim/testing/tests/test_atmos.py
  xclim/testing/tests/test_indices.py
Labels: enhancement

#957 Address dataflags called with the wrong variables
  HISTORY.rst
  xclim/core/dataflags.py
Labels: bug

#919 Added calculation for proportion of wet days.
  HISTORY.rst
  setup.cfg
  setup.py
  xclim/__init__.py
  xclim/data/fr.json
  xclim/indicators/atmos/_precip.py
  xclim/indices/_threshold.py
  xclim/testing/tests/test_indices.py
Labels: enhancement

#960 Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
  HISTORY.rst
Labels: Information

#921 Added method to calculate convective proportion of rainfall
  HISTORY.rst
  xclim/data/fr.json
  xclim/data/variables.yml
  xclim/indicators/atmos/_precip.py
  xclim/indices/_threshold.py
  xclim/testing/tests/conftest.py
  xclim/testing/tests/test_indices.py
Labels: enhancement

#962 Prepare v0.32.1
  HISTORY.rst
  setup.cfg
  setup.py
  xclim/__init__.py
  xclim/testing/tests/test_cli.py
Labels: bug
