Repository Ouranosinc/xclim, pull requests merged in 2021-08, with the labels that each got.

#787 Weighted Mean Average (Qian et al. 2010) and EGDD (Bootsma et al. 2005)
  HISTORY.rst
  xclim/data/fr.json
  xclim/indicators/atmos/_temperature.py
  xclim/indices/_agro.py
  xclim/indices/generic.py
  xclim/testing/tests/test_indices.py
Labels: enhancement

#779 Feature/compound indices
  HISTORY.rst
  xclim/data/fr.json
  xclim/data/icclim.yml
  xclim/indicators/atmos/__init__.py
  xclim/indicators/atmos/_preciptemp.py
  xclim/indices/_multivariate.py
  xclim/testing/tests/test_modules.py
  xclim/testing/tests/test_preciptemp.py
Labels: enhancement

#785 Fix/bootstrap
  HISTORY.rst
  xclim/core/bootstrapping.py
  xclim/core/calendar.py
  xclim/core/units.py
  xclim/sdba/base.py
  xclim/testing/tests/test_bootstrapping.py
  xclim/testing/tests/test_calendar.py
Labels: enhancement

#809 conda-forge: mark test_custom_indices() as requiring the docs folder
  xclim/testing/tests/test_modules.py
Labels: priority

#806 Better `get_file` logic in xclim.testing._utils
  HISTORY.rst
  xclim/testing/_utils.py
  xclim/testing/tests/data/callendar_1938.txt
  xclim/testing/tests/test_testing_utils.py
  xclim/testing/tests/test_utils.py
Labels: bug, standards / conventions

#821 Black ipynb
  .github/CONTRIBUTING.rst
  .pre-commit-config.yaml
  HISTORY.rst
  docs/notebooks/cli.ipynb
  docs/notebooks/customize.ipynb
  docs/notebooks/ensembles-advanced.ipynb
  docs/notebooks/ensembles.ipynb
  docs/notebooks/example.ipynb
  docs/notebooks/extendxclim.ipynb
  docs/notebooks/frequency_analysis.ipynb
  docs/notebooks/sdba-advanced.ipynb
  docs/notebooks/sdba.ipynb
  docs/notebooks/units.ipynb
  docs/notebooks/usage.ipynb
  docs/notebooks/xclim_training/Exercices.ipynb
  docs/notebooks/xclim_training/XARRAY_calcul_moy_saisonniere.ipynb
  docs/notebooks/xclim_training/XCLIM Demo - Ensembles.ipynb
  docs/notebooks/xclim_training/XCLIM_calculate_index-Exemple.ipynb
  docs/notebooks/xclim_training/finch.ipynb
  docs/notebooks/xclim_training/intro_xarray.ipynb
  environment.yml
  requirements_dev.txt
  setup.cfg
  setup.py
  tox.ini
  xclim/__init__.py
  xclim/sdba/base.py
Labels: enhancement, standards / conventions

#824 Fix UTF-8 issues
  HISTORY.rst
  xclim/data/icclim.yml
Labels: bug

#822 Conda-forge testing adjustments
  HISTORY.rst
  MANIFEST.in
  xclim/testing/tests/test_sdba/test_processing.py
Labels: bug

#825 allow add_dims as str
  xclim/sdba/base.py
Labels: bug
