Repository Ouranosinc/xclim, pull requests merged in 2021-09, with the labels that each got.

#823 Fix rate2amount, remove src_timestep in anuclim
  HISTORY.rst
  xclim/core/units.py
  xclim/indices/_anuclim.py
  xclim/indices/_conversion.py
  xclim/sdba/detrending.py
  xclim/testing/tests/conftest.py
  xclim/testing/tests/test_indices.py
  xclim/testing/tests/test_units.py
Labels: bug

#845 Fix/bootstrapping with dask
  HISTORY.rst
  xclim/core/bootstrapping.py
  xclim/testing/tests/test_bootstrapping.py
Labels: bug

#645 Data quality assurance checks [rebase]
  HISTORY.rst
  docs/api.rst
  docs/notebooks/cli.ipynb
  setup.cfg
  setup.py
  xclim/__init__.py
  xclim/cli.py
  xclim/core/calendar.py
  xclim/core/cfchecks.py
  xclim/core/dataflags.py
  xclim/core/indicator.py
  xclim/core/options.py
  xclim/core/units.py
  xclim/core/utils.py
  xclim/data/variables.yml
  xclim/indices/run_length.py
  xclim/testing/tests/test_calendar.py
  xclim/testing/tests/test_checks.py
  xclim/testing/tests/test_flags.py
  xclim/testing/tests/test_run_length.py
Labels: enhancement

#853 Prepare 030
  HISTORY.rst
  setup.cfg
  setup.py
  xclim/__init__.py
Labels: standards / conventions
