Repository Ouranosinc/xclim, pull requests merged in 2021-11, with the labels that each got.

#896 exclude setup.cfg in trailing whitespace autoformatter and update black
  .pre-commit-config.yaml
  HISTORY.rst
Labels: standards / conventions

#895 Add frost free season indicators [rebase]
  HISTORY.rst
  setup.cfg
  setup.py
  xclim/__init__.py
  xclim/data/fr.json
  xclim/indicators/atmos/_temperature.py
  xclim/indices/_simple.py
  xclim/indices/_threshold.py
  xclim/indices/generic.py
  xclim/testing/tests/test_indices.py
  xclim/testing/tests/test_locales.py
Labels: enhancement

#901 Fix shell command syntax in contributor docs and better organize tox
  .github/CONTRIBUTING.rst
  .github/workflows/main.yml
  Makefile
  tox.ini
Labels: standards / conventions

#903 Correct Huglin Index formula
  HISTORY.rst
  xclim/core/indicator.py
  xclim/data/icclim.yml
  xclim/indicators/atmos/_temperature.py
  xclim/indices/_agro.py
  xclim/testing/tests/test_indices.py
Labels: bug, invalid

#904 Prepare version 0.31.0
  HISTORY.rst
  setup.cfg
  setup.py
  xclim/__init__.py
Labels: standards / conventions

#905 Install wheel in GitHub publishing actions
  .github/workflows/publish-pypi.yml
  .github/workflows/tag-testpypi.yml
Labels: standards / conventions

#906 hyperlink replacements for PyPI publishing
  HISTORY.rst
  setup.py
Labels: bug, standards / conventions

#909 Fix logging override in dataflags
  HISTORY.rst
  setup.cfg
  setup.py
  xclim/__init__.py
  xclim/core/dataflags.py
  xclim/core/utils.py
  xclim/ensembles/_base.py
  xclim/ensembles/_reduce.py
Labels: bug, standards / conventions

#911 Run-length optimizations for window=1
  HISTORY.rst
  setup.cfg
  setup.py
  xclim/__init__.py
  xclim/indices/run_length.py
Labels: bug, priority

#922 Release notes formatter
  .github/CONTRIBUTING.rst
  HISTORY.rst
  xclim/cli.py
  xclim/testing/_utils.py
  xclim/testing/tests/test_cli.py
Labels: standards / conventions

#927 Resampling indicator
  HISTORY.rst
  xclim/core/datachecks.py
  xclim/core/formatting.py
  xclim/core/indicator.py
  xclim/data/anuclim.yml
  xclim/data/schema.yml
  xclim/indicators/atmos/_conversion.py
  xclim/indicators/atmos/_precip.py
  xclim/indicators/atmos/_temperature.py
  xclim/indicators/land/_streamflow.py
  xclim/indices/_anuclim.py
  xclim/testing/tests/test_indicators.py
Labels: enhancement

#935 Adapt to CF conventions 1.9 - remove gregorian calendar
  HISTORY.rst
  xclim/core/calendar.py
  xclim/testing/tests/test_calendar.py
Labels: enhancement, standards / conventions

#930 French indicator metadata cleanup
  HISTORY.rst
  setup.cfg
  setup.py
  xclim/__init__.py
  xclim/data/fr.json
  xclim/testing/tests/test_locales.py
Labels: invalid, standards / conventions

#937 Remove unnecessary keep_attrs
  HISTORY.rst
  xclim/indices/generic.py
Labels: standards / conventions

#938 Ci coverage adjustments
  .github/workflows/main.yml
  HISTORY.rst
  Makefile
  tox.ini
Labels: standards / conventions

#940 Improve rxxp indices
  HISTORY.rst
  xclim/core/bootstrapping.py
  xclim/data/icclim.yml
  xclim/indicators/atmos/_precip.py
  xclim/indices/_multivariate.py
  xclim/indices/generic.py
  xclim/testing/tests/test_bootstrapping.py
Labels: enhancement

#942 Improve quantile function
  HISTORY.rst
  xclim/core/utils.py
  xclim/testing/tests/test_ensembles.py
Labels: enhancement
