Repository Ouranosinc/xclim, pull requests merged in 2022-02, with the labels that each got.

#1009 [sdba] Fix constant extrapolation for monthly grouping and with interpolation
  HISTORY.rst
  setup.cfg
  setup.py
  xclim/__init__.py
  xclim/sdba/nbutils.py
  xclim/sdba/utils.py
  xclim/testing/tests/test_sdba/test_utils.py
Labels: sdba

#1013 Python3.10 support
  .github/CONTRIBUTING.rst
  .github/workflows/main.yml
  HISTORY.rst
  environment.yml
  setup.cfg
  setup.py
  tox.ini
  xclim/__init__.py
Labels: enhancement, standards / conventions

#1023 Even better markdown conversion
  HISTORY.rst
  xclim/testing/_utils.py
Labels: standards / conventions

#1025 Remove bottleneck fork in tox build configurations
  HISTORY.rst
  tox.ini
Labels: Information

#1024 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: standards / conventions, support
