Repository Ouranosinc/xclim, pull requests merged in 2022-06, with the labels that each got.

#1099 Fix/#1091 seasonal doy adjustment
  HISTORY.rst
  setup.cfg
  setup.py
  xclim/__init__.py
  xclim/core/calendar.py
  xclim/core/missing.py
  xclim/sdba/utils.py
  xclim/testing/tests/test_bootstrapping.py
  xclim/testing/tests/test_calendar.py
Labels: bug

#1101 Omit testing files from coverage stats
  HISTORY.rst
  setup.cfg
Labels: Information

#1108 Remove EPUB from ReadTheDocs output formats
  .readthedocs.yml
  docs/conf.py
  xclim/indices/_conversion.py
Labels: bug, Information

#1062 Utci
  .zenodo.json
  HISTORY.rst
  docs/indices.rst
  xclim/core/calendar.py
  xclim/core/units.py
  xclim/data/fr.json
  xclim/indicators/atmos/_conversion.py
  xclim/indices/__init__.py
  xclim/indices/_agro.py
  xclim/indices/_conversion.py
  xclim/indices/generic.py
  xclim/indices/helpers.py
  xclim/indices/run_length.py
  xclim/indices/stats.py
  xclim/testing/tests/conftest.py
  xclim/testing/tests/test_atmos.py
  xclim/testing/tests/test_generic.py
  xclim/testing/tests/test_helpers.py
  xclim/testing/tests/test_indices.py
Labels: enhancement

#1107 Test more testing.utils and remove unused utils
  .github/workflows/bump-version.yml
  HISTORY.rst
  xclim/data/variables.yml
  xclim/testing/tests/test_indicators.py
  xclim/testing/tests/test_sdba/diagnostics.py
  xclim/testing/tests/test_testing_utils.py
  xclim/testing/utils.py
Labels: priority

#1112 Prepare v037
  HISTORY.rst
  setup.cfg
  setup.py
  xclim/__init__.py
Labels: priority

#1114 Fix upstream installation recipe for PyPI-compliance
  .github/workflows/bump-version.yml
  .github/workflows/codeql-analysis.yml
  HISTORY.rst
  MANIFEST.in
  Makefile
  docs/installation.rst
  requirements_upstream.txt
  setup.py
  tox.ini
Labels: priority

#1117 Mark test as needing the documentation supporting files
  xclim/testing/tests/test_testing_utils.py
Labels: bug
