Repository Ouranosinc/xclim, pull requests merged in 2022-11, with the labels that each got.

#1123 English and French metadata overhaul
  HISTORY.rst
  xclim/core/formatting.py
  xclim/core/utils.py
  xclim/data/fr.json
  xclim/indicators/atmos/_conversion.py
  xclim/indicators/atmos/_precip.py
  xclim/indicators/atmos/_synoptic.py
  xclim/indicators/atmos/_temperature.py
  xclim/indicators/atmos/_wind.py
  xclim/indicators/land/_snow.py
  xclim/indicators/land/_streamflow.py
  xclim/indicators/seaIce/_seaice.py
  xclim/indices/_multivariate.py
  xclim/indices/_synoptic.py
  xclim/indices/_threshold.py
  xclim/testing/tests/test_formatting.py
  xclim/testing/tests/test_indicators.py
  xclim/testing/tests/test_indices.py
  xclim/testing/tests/test_land.py
  xclim/testing/tests/test_locales.py
  xclim/testing/tests/test_precip.py
  xclim/testing/tests/test_temperature.py
Labels: standards / conventions, docs, approved, indicators

#1217 Time and calendar improvements
  HISTORY.rst
  xclim/core/calendar.py
  xclim/core/datachecks.py
  xclim/core/indicator.py
  xclim/core/units.py
  xclim/ensembles/_base.py
  xclim/testing/tests/test_atmos.py
  xclim/testing/tests/test_calendar.py
  xclim/testing/tests/test_checks.py
Labels: docs, approved

#1219 Prepare version 0.39.0
  HISTORY.rst
  setup.cfg
  setup.py
  xclim/__init__.py
Labels: information, docs, approved

#1220 Remove sphinx-codeautolink directive from PyPI history
  HISTORY.rst
  setup.py
Labels: docs, approved

#1221 Minor update to GitHub Actions
  .github/labeler.yml
  .github/workflows/bump-version.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/main.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/tag-testpypi.yml
  HISTORY.rst
  README.rst
Labels: CI, docs, approved

#1237 Fix doctests
  docs/notebooks/sdba-advanced.ipynb
  docs/notebooks/sdba.ipynb
Labels: docs, approved

#1239 Fix hanging first_eof test
  docs/references.bib
  xclim/sdba/properties.py
  xclim/testing/tests/test_sdba/test_properties.py
Labels: sdba, docs, approved

#1234 Fix 1232
  HISTORY.rst
  xclim/ensembles/_base.py
Labels: approved

#1228 Retire indices, indicators, and modules slated for removal in xclim>=0.40
  HISTORY.rst
  docs/api.rst
  xclim/indicators/atmos/_precip.py
  xclim/indices/__init__.py
  xclim/indices/_agro.py
  xclim/indices/_multivariate.py
  xclim/indices/_threshold.py
  xclim/indices/fire/__init__.py
  xclim/indices/fwi.py
  xclim/indices/generic.py
  xclim/indices/run_length.py
  xclim/indices/stats.py
  xclim/subset.py
  xclim/testing/tests/test_cffwis.py
  xclim/testing/tests/test_generic.py
  xclim/testing/tests/test_indices.py
  xclim/testing/tests/test_subset.py
Labels: standards / conventions, docs, approved, indicators

#1242 Fix hanging tests, again
  xclim/testing/tests/test_sdba/test_properties.py
Labels: approved

#1231 New variables section in yaml module
  HISTORY.rst
  docs/notebooks/example.fr.json
  docs/notebooks/example.yml
  docs/notebooks/extendxclim.ipynb
  xclim/core/indicator.py
  xclim/data/schema.yml
  xclim/testing/tests/test_indicators.py
  xclim/testing/tests/test_modules.py
Labels: docs, approved, indicators

#1207 Better time bounds estimation
  HISTORY.rst
  xclim/core/calendar.py
  xclim/testing/tests/test_calendar.py
Labels: approved

#1243 Fix the build triggering for approved pull requests
  .github/workflows/main.yml
Labels: CI, approved

#1247 Update Alavoine and Grenier 2022 article
  HISTORY.rst
  docs/references.bib
  xclim/sdba/adjustment.py
  xclim/sdba/processing.py
  xclim/sdba/properties.py
  xclim/sdba/utils.py
Labels: sdba, docs, approved

#1241 add dataflag checks for relevant variables
  HISTORY.rst
  xclim/data/variables.yml
Labels: standards / conventions, approved, indicators

#1233 Documentation adjustments
  .pre-commit-config.yaml
  HISTORY.rst
  Makefile
  README.rst
  docs/_static/style.css
  docs/conf.py
  docs/index.rst
  docs/indicators.rst
  docs/indices.rst
  docs/notebooks/cli.ipynb
  docs/notebooks/units.ipynb
  docs/readme.rst
  docs/sdba.rst
  requirements_dev.txt
  tox.ini
  xclim/indices/run_length.py
Labels: CI, docs, approved
