Repository Ouranosinc/xclim, pull requests merged in 2022-12, with the labels that each got.

#1206 ENH: Update convert_units_to function
  HISTORY.rst
  docs/notebooks/units.ipynb
  xclim/core/cfchecks.py
  xclim/core/units.py
  xclim/data/variables.yml
  xclim/testing/tests/test_units.py
Labels: docs, approved, indicators

#1251 split linkcheck and html builders into separate recipes
  .github/workflows/main.yml
  .pre-commit-config.yaml
  HISTORY.rst
  Makefile
  README.rst
  docs/_static/style.css
  docs/conf.py
  docs/index.rst
  docs/indicators.rst
  docs/indices.rst
  docs/notebooks/cli.ipynb
  docs/notebooks/units.ipynb
  docs/readme.rst
  docs/sdba.rst
  requirements_dev.txt
  tox.ini
  xclim/indices/run_length.py
  xclim/testing/tests/test_sdba/test_properties.py
Labels: CI, docs, approved

#1254 Adjust thread safety when running tests
  HISTORY.rst
  docs/conf.py
  setup.cfg
  xclim/testing/tests/conftest.py
  xclim/testing/tests/data.py
  xclim/testing/tests/test_analog.py
  xclim/testing/tests/test_atmos.py
  xclim/testing/tests/test_bootstrapping.py
  xclim/testing/tests/test_calendar.py
  xclim/testing/tests/test_cffwis.py
  xclim/testing/tests/test_cli.py
  xclim/testing/tests/test_ensembles.py
  xclim/testing/tests/test_ffdi.py
  xclim/testing/tests/test_flags.py
  xclim/testing/tests/test_indicators.py
  xclim/testing/tests/test_indices.py
  xclim/testing/tests/test_missing.py
  xclim/testing/tests/test_modules.py
  xclim/testing/tests/test_precip.py
  xclim/testing/tests/test_preciptemp.py
  xclim/testing/tests/test_run_length.py
  xclim/testing/tests/test_sdba/test_properties.py
  xclim/testing/tests/test_temperature.py
  xclim/testing/tests/test_wind.py
  xclim/testing/utils.py
Labels: docs, approved

#1250 Fix reordering logic in MBCn example
  HISTORY.rst
  docs/notebooks/sdba.ipynb
Labels: docs, approved

#1227 Explicit context information for unit conversion
  HISTORY.rst
  docs/notebooks/example.yml
  docs/notebooks/sdba.ipynb
  setup.cfg
  tox.ini
  xclim/core/dataflags.py
  xclim/core/units.py
  xclim/data/anuclim.yml
  xclim/data/cf.yml
  xclim/data/schema.yml
  xclim/indicators/atmos/_conversion.py
  xclim/indices/_agro.py
  xclim/indices/_anuclim.py
  xclim/indices/_conversion.py
  xclim/indices/_multivariate.py
  xclim/indices/_threshold.py
  xclim/indices/fire/_ffdi.py
  xclim/indices/generic.py
  xclim/sdba/adjustment.py
  xclim/sdba/detrending.py
  xclim/sdba/processing.py
  xclim/sdba/properties.py
  xclim/testing/tests/test_cffwis.py
  xclim/testing/tests/test_indices.py
  xclim/testing/tests/test_precip.py
  xclim/testing/tests/test_sdba/test_adjustment.py
  xclim/testing/tests/test_sdba/test_processing.py
  xclim/testing/tests/test_sdba/test_properties.py
  xclim/testing/tests/test_units.py
Labels: sdba, CI, docs, approved, indicators

#1259 Remove add-radiation branch in tests
  tox.ini
  xclim/testing/tests/test_atmos.py
Labels: CI, approved

#1258 Pin Tox and re-enable conda-tox in workflows
  .github/workflows/main.yml
  HISTORY.rst
  docs/notebooks/Modules.svg
  docs/notebooks/extendxclim.ipynb
  docs/references.bib
  environment.yml
  tox.ini
  xclim/data/fr.json
  xclim/indices/_agro.py
  xclim/indices/_conversion.py
  xclim/testing/tests/test_atmos.py
  xclim/testing/tests/test_indicators.py
  xclim/testing/tests/test_indices.py
  xclim/testing/tests/test_testing_utils.py
  xclim/testing/utils.py
Labels: bug, CI, docs, approved, indicators

#1225 Check for discharge unit compliance in streamflow statistical indicators
  HISTORY.rst
  xclim/__init__.py
  xclim/data/fr.json
  xclim/data/variables.yml
  xclim/indicators/generic/__init__.py
  xclim/indicators/generic/_stats.py
  xclim/indicators/land/_streamflow.py
  xclim/testing/tests/test_generic.py
  xclim/testing/tests/test_generic_indicators.py
  xclim/testing/tests/test_land.py
  xclim/testing/tests/test_stats.py
Labels: approved, indicators

#1236 Multi-dimensional thresholds
  HISTORY.rst
  docs/notebooks/example.ipynb
  docs/notebooks/usage.ipynb
  requirements_dev.txt
  tox.ini
  xclim/core/calendar.py
  xclim/core/formatting.py
  xclim/core/indicator.py
  xclim/core/units.py
  xclim/core/utils.py
  xclim/data/fr.json
  xclim/indices/_agro.py
  xclim/indices/_anuclim.py
  xclim/indices/_conversion.py
  xclim/indices/_multivariate.py
  xclim/indices/_simple.py
  xclim/indices/_threshold.py
  xclim/indices/fire/_cffwis.py
  xclim/indices/generic.py
  xclim/indices/helpers.py
  xclim/testing/tests/test_atmos.py
  xclim/testing/tests/test_indicators.py
  xclim/testing/tests/test_locales.py
  xclim/testing/tests/test_precip.py
  xclim/testing/tests/test_temperature.py
Labels: CI, docs, approved, indicators
