Repository Ouranosinc/xclim, pull requests merged in 2022-01, with the labels that each got.

#965 Use pre-commit CI for automated fixes
  .pre-commit-config.yaml
  README.rst
  docs/conf.py
Labels: enhancement, standards / conventions

#969 Reduce circular imports in xclim.core
  HISTORY.rst
  setup.cfg
  setup.py
  xclim/__init__.py
  xclim/core/bootstrapping.py
  xclim/core/calendar.py
  xclim/core/formatting.py
  xclim/core/indicator.py
  xclim/core/missing.py
  xclim/core/units.py
  xclim/core/utils.py
  xclim/indices/generic.py
  xclim/sdba/base.py
  xclim/testing/tests/test_generic.py
  xclim/testing/tests/test_indicators.py
Labels: standards / conventions

#972 Tox/CI adjustments
  .github/workflows/main.yml
  .pre-commit-config.yaml
  HISTORY.rst
  tox.ini
Labels: standards / conventions

#976 Fix Zenodo configuration
  .zenodo.json
Labels: bug

#977 Move xarray main branch build tests to Python3.8
  .github/workflows/main.yml
Labels: standards / conventions, CI

#924 Added jetstream strength and latitude calculation
  .zenodo.json
  AUTHORS.rst
  HISTORY.rst
  environment.yml
  setup.py
  xclim/data/fr.json
  xclim/indicators/atmos/__init__.py
  xclim/indicators/atmos/_synoptic.py
  xclim/indices/__init__.py
  xclim/indices/_synoptic.py
  xclim/testing/tests/test_indices.py
Labels: enhancement

#979 correct cf-xarray conda package name
  environment.yml
Labels: bug

#981 Add yamllint hook
  .github/CONTRIBUTING.rst
  .github/workflows/codeql-analysis.yml
  .github/workflows/main.yml
  .github/workflows/publish-pypi.yml
  .pre-commit-config.yaml
  .yamllint.yaml
  HISTORY.rst
  environment.yml
  requirements_dev.txt
  tox.ini
  xclim/data/cf.yml
  xclim/data/schema.yml
  xclim/data/variables.yml
Labels: standards / conventions, CI

#985 ENH: Add option to avoid array copy
  HISTORY.rst
  xclim/core/bootstrapping.py
  xclim/core/calendar.py
  xclim/core/utils.py
  xclim/testing/tests/test_calendar.py
Labels: enhancement

#991 Suppress pint warnings and pin pandas below v1.4
  HISTORY.rst
  environment.yml
  setup.py
  xclim/core/units.py
Labels: invalid

#988 Add cancel previous CI runs step
  .github/workflows/main.yml
  HISTORY.rst
Labels: CI

#987 ENH: Update percentile dask chunking
  HISTORY.rst
  xclim/core/calendar.py
Labels: enhancement

#996 Add a Code of Conduct
  CODE_OF_CONDUCT.md
Labels: standards / conventions
