Repository Ouranosinc/xclim, pull requests merged in 2022-10, with the labels that each got.

#1196 Deprecate `freshet_start` indice
  HISTORY.rst
  xclim/data/fr.json
  xclim/indicators/atmos/_temperature.py
  xclim/indices/_threshold.py
  xclim/testing/tests/test_indices.py
Labels: standards / conventions, API, docs

#1197 Adopt operators in warm/cold spell, dry, and wet days indices
  HISTORY.rst
  xclim/indices/_threshold.py
  xclim/testing/tests/test_indices.py
Labels: standards / conventions, API

#1202 Deprecate `generic.degree_days`
  HISTORY.rst
  xclim/indices/_threshold.py
  xclim/indices/generic.py
  xclim/testing/tests/test_generic.py
Labels: enhancement, standards / conventions, API

#1212 Adapt to current pint
  HISTORY.rst
  xclim/core/units.py
Labels: bug, standards / conventions

#1203 Revamp CI to reduce number of builds prior to PR approved status and use pytest-xdist
  .github/CONTRIBUTING.rst
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/first_pull_request.yml
  .github/workflows/label_on_approval.yml
  .github/workflows/main.yml
  .readthedocs.yml
  .zenodo.json
  AUTHORS.rst
  HISTORY.rst
  Makefile
  docs/conf.py
  docs/references.bib
  environment.yml
  requirements_dev.txt
  setup.cfg
  tox.ini
  xclim/testing/tests/conftest.py
  xclim/testing/tests/test_ensembles.py
  xclim/testing/utils.py
Labels: CI, docs, approved

#1215 Make show_versions portable for other libraries
  HISTORY.rst
  xclim/testing/utils.py
Labels: information, approved

#1161 Resampling after run length
  HISTORY.rst
  docs/notebooks/example.ipynb
  xclim/indices/_agro.py
  xclim/indices/_multivariate.py
  xclim/indices/_threshold.py
  xclim/indices/generic.py
  xclim/indices/run_length.py
  xclim/sdba/properties.py
  xclim/testing/tests/test_formatting.py
  xclim/testing/tests/test_run_length.py
Labels: enhancement, sdba, docs, approved, indicators

#1198 Spatial sdba properties - rewrite annual cycle properties - StatistialPropertyMeasure
  .github/workflows/main.yml
  HISTORY.rst
  docs/installation.rst
  tox.ini
  xclim/core/formatting.py
  xclim/data/fr.json
  xclim/sdba/measures.py
  xclim/sdba/nbutils.py
  xclim/sdba/properties.py
  xclim/sdba/utils.py
  xclim/testing/tests/test_sdba/test_measures.py
  xclim/testing/tests/test_sdba/test_properties.py
Labels: sdba, CI, docs, approved, indicators
