Repository Ouranosinc/xclim, pull requests merged in 2022-08, with the labels that each got.

#1143 Temporarily pin scipy < 1.9
  HISTORY.rst
  environment.yml
  setup.py
Labels: standards / conventions

#1137 Fix BEDD for multiple latitudes
  HISTORY.rst
  xclim/indices/_agro.py
  xclim/testing/tests/test_indices.py
Labels: enhancement

#1140 Add missing %s to extlink mappings and speed up documentation builds with mambaforge
  .readthedocs.yml
  HISTORY.rst
  docs/conf.py
Labels: bug

#1131 Use bibtex to manage article references
  .github/CONTRIBUTING.rst
  .readthedocs.yml
  HISTORY.rst
  docs/api.rst
  docs/bibliography.rst
  docs/checks.rst
  docs/conf.py
  docs/index.rst
  docs/indices.rst
  docs/installation.rst
  docs/notebooks/extendxclim.ipynb
  docs/references.bib
  docs/sdba.rst
  requirements_dev.txt
  setup.cfg
  xclim/analog.py
  xclim/core/bootstrapping.py
  xclim/core/calendar.py
  xclim/core/datachecks.py
  xclim/core/dataflags.py
  xclim/core/formatting.py
  xclim/core/indicator.py
  xclim/core/locales.py
  xclim/core/missing.py
  xclim/core/units.py
  xclim/core/utils.py
  xclim/data/anuclim.yml
  xclim/data/cf.yml
  xclim/data/icclim.yml
  xclim/ensembles/_base.py
  xclim/ensembles/_reduce.py
  xclim/ensembles/_robustness.py
  xclim/indicators/__init__.py
  xclim/indicators/atmos/_temperature.py
  xclim/indices/_agro.py
  xclim/indices/_anuclim.py
  xclim/indices/_conversion.py
  xclim/indices/_hydrology.py
  xclim/indices/_multivariate.py
  xclim/indices/_simple.py
  xclim/indices/_synoptic.py
  xclim/indices/_threshold.py
  xclim/indices/fwi.py
  xclim/indices/generic.py
  xclim/indices/helpers.py
  xclim/indices/run_length.py
  xclim/indices/stats.py
  xclim/sdba/__init__.py
  xclim/sdba/_processing.py
  xclim/sdba/adjustment.py
  xclim/sdba/base.py
  xclim/sdba/detrending.py
  xclim/sdba/loess.py
  xclim/sdba/measures.py
  xclim/sdba/processing.py
  xclim/sdba/properties.py
  xclim/sdba/utils.py
  xclim/testing/tests/test_formatting.py
  xclim/testing/tests/test_indicators.py
Labels: standards / conventions, Information

#1156 Fix LaTeX build of docs
  HISTORY.rst
  docs/conf.py
  docs/index.rst
  docs/indicators.rst
  docs/indices.rst
  docs/references.rst
  docs/sdba.rst
  setup.cfg
  setup.py
  xclim/ensembles/_robustness.py
  xclim/indices/_agro.py
Labels: bug, standards / conventions

#1158 LaTeX version documentation adjustments
  HISTORY.rst
  docs/conf.py
  docs/index.rst
  docs/indices.rst
  docs/references.rst
  docs/sdba.rst
Labels: standards / conventions

#1134 Optimized run length
  HISTORY.rst
  xclim/indices/run_length.py
Labels: enhancement

#1160 Documentation adjustments
  .github/CONTRIBUTING.rst
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/bump-version.yml
  .readthedocs.yml
  AUTHORS.rst
  HISTORY.rst
  Makefile
  README.rst
  docs/conf.py
  docs/index.rst
  docs/installation.rst
  requirements_upstream.txt
  tox.ini
  xclim/data/cf.yml
Labels: standards / conventions

#1163 Pylint adjustments
  .github/workflows/main.yml
  HISTORY.rst
  Makefile
  README.rst
  pylintrc
  requirements_dev.txt
  setup.cfg
  tox.ini
  xclim/analog.py
  xclim/cli.py
  xclim/core/bootstrapping.py
  xclim/core/calendar.py
  xclim/core/cfchecks.py
  xclim/core/dataflags.py
  xclim/core/formatting.py
  xclim/core/indicator.py
  xclim/core/locales.py
  xclim/core/missing.py
  xclim/core/options.py
  xclim/core/units.py
  xclim/core/utils.py
  xclim/ensembles/_reduce.py
  xclim/indicators/atmos/_precip.py
  xclim/indicators/atmos/_temperature.py
  xclim/indices/_agro.py
  xclim/indices/_anuclim.py
  xclim/indices/_hydrology.py
  xclim/indices/_synoptic.py
  xclim/indices/fwi.py
  xclim/indices/generic.py
  xclim/indices/run_length.py
  xclim/indices/stats.py
  xclim/sdba/adjustment.py
  xclim/sdba/base.py
  xclim/sdba/processing.py
  xclim/sdba/properties.py
  xclim/sdba/utils.py
  xclim/subset.py
  xclim/testing/utils.py
Labels: bug, standards / conventions

#1157 Allow binary operations in generic indice call signatures
  HISTORY.rst
  docs/notebooks/example.yml
  xclim/core/dataflags.py
  xclim/core/units.py
  xclim/core/utils.py
  xclim/data/cf.yml
  xclim/indicators/atmos/_temperature.py
  xclim/indices/_multivariate.py
  xclim/indices/_threshold.py
  xclim/indices/generic.py
  xclim/indices/run_length.py
  xclim/testing/tests/test_formatting.py
  xclim/testing/tests/test_generic.py
  xclim/testing/tests/test_indicators.py
  xclim/testing/tests/test_indices.py
  xclim/testing/tests/test_modules.py
  xclim/testing/tests/test_units.py
  xclim/testing/tests/test_utils.py
Labels: enhancement, standards / conventions, API

#1169 Clean up ANUCLIM-based indices and add some operator handling
  HISTORY.rst
  xclim/data/anuclim.yml
  xclim/indices/_anuclim.py
  xclim/testing/tests/conftest.py
  xclim/testing/tests/test_indices.py
Labels: standards / conventions

#1149 Statistical properties as indicators
  HISTORY.rst
  docs/notebooks/sdba-advanced.ipynb
  docs/sdba.rst
  xclim/core/formatting.py
  xclim/core/indicator.py
  xclim/ensembles/_base.py
  xclim/sdba/base.py
  xclim/sdba/measures.py
  xclim/sdba/properties.py
  xclim/testing/tests/test_formatting.py
  xclim/testing/tests/test_indicators.py
  xclim/testing/tests/test_sdba/test_properties.py
Labels: sdba
