Repository Ouranosinc/xclim, pull requests merged in 2022-05, with the labels that each got.

#1068 Enh: Add Celsius
  HISTORY.rst
  setup.cfg
  setup.py
  xclim/__init__.py
  xclim/core/units.py
  xclim/testing/tests/test_units.py
Labels: enhancement, standards / conventions

#1073 Show versions
  .github/CONTRIBUTING.rst
  .github/ISSUE_TEMPLATE/0002-BUG-REPORT.yml
  HISTORY.rst
  environment.yml
  setup.cfg
  setup.py
  xclim/__init__.py
  xclim/cli.py
  xclim/testing/_utils.py
  xclim/testing/tests/test_cli.py
Labels: enhancement, support

#1086 water_budget using evapotranspiration intead of calculating it
  HISTORY.rst
  xclim/core/indicator.py
  xclim/data/fr.json
  xclim/indicators/atmos/_conversion.py
  xclim/indices/_agro.py
  xclim/testing/tests/conftest.py
  xclim/testing/tests/test_atmos.py
  xclim/testing/tests/test_indicators.py
  xclim/testing/tests/test_indices.py
Labels: enhancement

#1089 add pre-commit badge
  README.rst
Labels: CI

#1050 ENH: Improve percentile based indices' descriptions
  HISTORY.rst
  docs/notebooks/example.yml
  docs/notebooks/extendxclim.ipynb
  xclim/cli.py
  xclim/core/calendar.py
  xclim/core/dataflags.py
  xclim/core/formatting.py
  xclim/core/indicator.py
  xclim/core/utils.py
  xclim/data/fr.json
  xclim/data/icclim.yml
  xclim/indicators/atmos/_precip.py
  xclim/indicators/atmos/_temperature.py
  xclim/indices/_multivariate.py
  xclim/testing/_utils.py
  xclim/testing/tests/test_bootstrapping.py
  xclim/testing/tests/test_indicators.py
  xclim/testing/tests/test_precip.py
  xclim/testing/tests/test_preciptemp.py
  xclim/testing/tests/test_temperature.py
Labels: enhancement, standards / conventions

#1092 Add upstream recipe
  .github/workflows/main.yml
  .gitignore
  HISTORY.rst
  Makefile
  docs/installation.rst
  setup.py
  tox.ini
Labels: enhancement, API
