Repository Ouranosinc/xclim, pull requests merged in 2022-03, with the labels that each got.

#1032 Add check to verify that JSON files are always valid
  .pre-commit-config.yaml
  .zenodo.json
  HISTORY.rst
  docs/notebooks/example.fr.json
  setup.cfg
  setup.py
  xclim/__init__.py
  xclim/data/fr.json
  xclim/testing/tests/data/meridian.json
  xclim/testing/tests/data/meridian_multi.json
  xclim/testing/tests/data/multi_regions.json
Labels: Information, CI

#1033 Improve spatial analogs : dask, Székely-Rizzo
  HISTORY.rst
  docs/analogues.rst
  docs/api.rst
  docs/index.rst
  setup.cfg
  xclim/analog.py
  xclim/sdba/nbutils.py
  xclim/sdba/processing.py
  xclim/testing/tests/test_analog.py
  xclim/testing/tests/test_sdba/test_processing.py
Labels: CCDP

#1028 Use Issue Forms
  .github/ISSUE_TEMPLATE/0001-GENERIC-ISSUE-TEMPLATE.yml
  .github/ISSUE_TEMPLATE/0002-BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/0003-FEATURE-REQUEST.yml
  .github/ISSUE_TEMPLATE/0004-QUESTION-SUPPORT.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .pre-commit-config.yaml
  HISTORY.rst
Labels: standards / conventions, Information, support

#1037 Tweak forms to make use of more appropriate fields
  .github/ISSUE_TEMPLATE/0001-GENERIC-ISSUE-TEMPLATE.yml
  .github/ISSUE_TEMPLATE/0002-BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/0003-FEATURE-REQUEST.yml
  .github/ISSUE_TEMPLATE/0004-QUESTION-SUPPORT.yml
Labels: standards / conventions, CI

#1045 pin click at version 8.0.4 until newest black is released
  .pre-commit-config.yaml
  requirements_dev.txt
  tox.ini
Labels: bug

#1044 remove logging library from ensembles module
  .pre-commit-config.yaml
  HISTORY.rst
  environment.yml
  requirements_dev.txt
  tox.ini
  xclim/ensembles/_base.py
  xclim/ensembles/_reduce.py
Labels: standards / conventions

#1030 Skipna on LOESS
  HISTORY.rst
  xclim/sdba/detrending.py
  xclim/sdba/loess.py
  xclim/testing/tests/test_sdba/test_loess.py
Labels: sdba
