Repository Ouranosinc/xclim, pull requests merged in 2022-09, with the labels that each got.

#1173 Fix etr from clix-meta
  HISTORY.rst
  xclim/indices/generic.py
Labels: bug, invalid, priority

#1159 Add McArthur Forest Fire Danger Index
  .gitignore
  .zenodo.json
  AUTHORS.rst
  HISTORY.rst
  docs/conf.py
  docs/indices.rst
  docs/references.bib
  docs/references.rst
  xclim/core/formatting.py
  xclim/core/indicator.py
  xclim/data/variables.yml
  xclim/indicators/atmos/_precip.py
  xclim/indices/__init__.py
  xclim/indices/fire/__init__.py
  xclim/indices/fire/_cffwis.py
  xclim/indices/fire/_ffdi.py
  xclim/indices/fwi.py
  xclim/testing/tests/test_cffwis.py
  xclim/testing/tests/test_ffdi.py
  xclim/testing/tests/test_indicators.py
Labels: enhancement

#1176 Bibliography and other adjustments
  .readthedocs.yml
  HISTORY.rst
  docs/conf.py
  docs/indices.rst
  docs/references.rst
  environment.yml
  requirements_dev.txt
Labels: standards / conventions, Information

#1180 CF-xarray latitude handling
  HISTORY.rst
  xclim/indices/_agro.py
  xclim/indices/_conversion.py
  xclim/indices/helpers.py
  xclim/testing/tests/test_indices.py
Labels: bug, enhancement

#1182 Add sphinx-codeautolink/-copybutton to documentation and fix numpy docstrings
  HISTORY.rst
  docs/conf.py
  docs/references.bib
  docs/references.rst
  environment.yml
  requirements_dev.txt
  setup.cfg
  tox.ini
  xclim/analog.py
  xclim/core/bootstrapping.py
  xclim/core/datachecks.py
  xclim/core/dataflags.py
  xclim/core/formatting.py
  xclim/core/locales.py
  xclim/core/missing.py
  xclim/core/options.py
  xclim/core/units.py
  xclim/core/utils.py
  xclim/ensembles/_base.py
  xclim/ensembles/_reduce.py
  xclim/ensembles/_robustness.py
  xclim/indicators/atmos/_conversion.py
  xclim/indices/_agro.py
  xclim/indices/_anuclim.py
  xclim/indices/_conversion.py
  xclim/indices/_hydrology.py
  xclim/indices/_multivariate.py
  xclim/indices/_simple.py
  xclim/indices/_synoptic.py
  xclim/indices/_threshold.py
  xclim/indices/fire/_cffwis.py
  xclim/indices/fire/_ffdi.py
  xclim/indices/generic.py
  xclim/indices/helpers.py
  xclim/indices/run_length.py
  xclim/indices/stats.py
  xclim/sdba/_adjustment.py
  xclim/sdba/_processing.py
  xclim/sdba/adjustment.py
  xclim/sdba/base.py
  xclim/testing/tests/conftest.py
Labels: standards / conventions, docs
