Repository Ouranosinc/xclim, pull requests merged in 2023-09, with the labels that each got.

#1464 [bot] Update GitHub Action Versions
  .github/workflows/cache-cleaner.yml
  .github/workflows/publish-mastodon.yml
Labels: CI

#1466 Add nb example on use of uncertainty partitioning algorithm
  CHANGES.rst
  docs/notebooks/index.rst
  docs/notebooks/partitioning.ipynb
Labels: docs, approved

#1467 Prepare v0.45.0
  CHANGES.rst
  setup.cfg
  xclim/__init__.py
Labels: approved

#1475 Refactor notation: degK to K
  CHANGES.rst
  xclim/indices/_conversion.py
Labels: approved, indicators

#1472 Rephrase paragraph on indicators vs indices and add links to their respective documentation
  docs/notebooks/usage.ipynb
Labels: docs, approved

#1473 Offline testing and test data fetching improvements
  .github/workflows/main.yml
  CHANGES.rst
  CONTRIBUTING.rst
  docs/notebooks/analogs.ipynb
  docs/notebooks/cli.ipynb
  environment.yml
  pyproject.toml
  tests/conftest.py
  tests/test_cffwis.py
  tests/test_missing.py
  tests/test_sdba/conftest.py
  tests/test_sdba/test_adjustment.py
  tests/test_testing_utils.py
  tox.ini
  xclim/cli.py
  xclim/testing/helpers.py
  xclim/testing/utils.py
Labels: information, CI, API, docs, approved

#1476 Add note in the docs about SKIP_NOTEBOOKS.
  CHANGES.rst
  CONTRIBUTING.rst
  tox.ini
Labels: CI, docs, approved

#1479 pull_request_target workarounds, and labeling fixes
  .github/labeler.yml
  .github/workflows/label_on_approval.yml
  CHANGES.rst
Labels: CI, approved

#1482 Raise when reduced dims are chunked in map_blocks
  CHANGES.rst
  tests/test_sdba/test_base.py
  xclim/sdba/base.py
Labels: sdba, approved

#1469 Trusted Publishing and better social media publishing
  .github/workflows/publish-mastodon.template.md
  .github/workflows/publish-mastodon.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/tag-testpypi.yml
  .readthedocs.yml
  CHANGES.rst
Labels: standards / conventions, CI, docs, approved

#1471 Add wind power potential and wind profile indicators
  CHANGES.rst
  docs/references.bib
  tests/test_atmos.py
  tests/test_indices.py
  xclim/core/units.py
  xclim/data/fr.json
  xclim/data/variables.yml
  xclim/indicators/atmos/_conversion.py
  xclim/indices/_conversion.py
Labels: docs, approved, indicators

#1454 Indicator search
  CHANGES.rst
  Makefile
  docs/_static/indsearch.js
  docs/_static/style.css
  docs/_templates/layout.html
  docs/conf.py
  docs/indicators.rst
  xclim/core/indicator.py
  xclim/indicators/atmos/_conversion.py
  xclim/indicators/atmos/_precip.py
Labels: CI, docs, approved, indicators
