Repository Ouranosinc/xclim, pull requests merged in 2023-03, with the labels that each got.

#1313 add zenodo community
  .zenodo.json
  HISTORY.rst
Labels: standards / conventions, CI, approved

#1315 Fix mean radiant temperature segfaults
  CHANGES.rst
  pyproject.toml
  xclim/testing/tests/conftest.py
  xclim/testing/tests/test_atmos.py
Labels: bug, approved

#1317 Deprecate `mf_flag` call signature in xclim.ensembles, expose calendar conversion utilities, fix _gen_returns_section bug
  CHANGES.rst
  docs/api.rst
  docs/indices.rst
  xclim/core/calendar.py
  xclim/core/formatting.py
  xclim/core/units.py
  xclim/ensembles/_base.py
  xclim/ensembles/_robustness.py
  xclim/indices/__init__.py
  xclim/indices/fire/_cffwis.py
  xclim/testing/tests/test_ensembles.py
Labels: standards / conventions, API, docs, approved, indicators

#1325 Adjust last_spring_frost variable and introduce `op` in seasonal indices
  CHANGES.rst
  xclim/indicators/atmos/_temperature.py
  xclim/indices/_threshold.py
Labels: invalid, standards / conventions, approved, indicators

#1319 Fix warnings issued from successive `convert_units_to` calls
  CHANGES.rst
  xclim/core/indicator.py
  xclim/indices/_agro.py
  xclim/indices/_conversion.py
Labels: bug, approved, indicators

#1333 Fix sdba_encode_cf bug
  CHANGES.rst
  environment.yml
  xclim/sdba/base.py
  xclim/testing/tests/test_sdba/test_adjustment.py
  xclim/testing/tests/test_sdba/test_loess.py
  xclim/testing/tests/test_sdba/test_measures.py
  xclim/testing/tests/test_sdba/test_processing.py
  xclim/testing/tests/test_sdba/utils.py
Labels: bug, priority, sdba, approved

#1336 fix correlogram
  CHANGES.rst
  xclim/sdba/properties.py
Labels: sdba, approved

#1331 Add resample before/after in `_threshold`
  CHANGES.rst
  xclim/indices/_threshold.py
  xclim/indices/run_length.py
  xclim/testing/tests/test_indices.py
Labels: priority, approved, indicators

#1323 Fix last run resampling
  CHANGES.rst
  xclim/indices/run_length.py
  xclim/testing/tests/test_run_length.py
Labels: bug, priority, approved

#1339 Testing Data Tagging
  .github/workflows/bump-version.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/first_pull_request.yml
  .github/workflows/label.yml
  .github/workflows/label_on_approval.yml
  .github/workflows/main.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/tag-testpypi.yml
  .github/workflows/testdata_version.yml
  .github/workflows/upstream.yml
  CHANGES.rst
  CONTRIBUTING.rst
  xclim/testing/tests/conftest.py
  xclim/testing/utils.py
Labels: standards / conventions, priority, CI, docs, approved

#1338 [PyOpenSci] Documentation and Notebook Adjustments, manage SBCK
  .github/workflows/upstream.yml
  CHANGES.rst
  CONTRIBUTING.rst
  README.rst
  docs/explanation.rst
  docs/installation.rst
  docs/notebooks/analogs.ipynb
  docs/notebooks/cli.ipynb
  docs/notebooks/customize.ipynb
  docs/notebooks/ensembles-advanced.ipynb
  docs/notebooks/ensembles.ipynb
  docs/notebooks/example.ipynb
  docs/notebooks/extendxclim.ipynb
  docs/notebooks/frequency_analysis.ipynb
  docs/notebooks/sdba-advanced.ipynb
  docs/notebooks/sdba.ipynb
  docs/notebooks/units.ipynb
  docs/notebooks/usage.ipynb
  docs/notebooks/xclim_training/XCLIM_calculate_index-Exemple.ipynb
  docs/notebooks/xclim_training/intro_xarray.ipynb
  environment.yml
  xclim/testing/tests/test_sdba/test_properties.py
Labels: standards / conventions, priority, information, CI, docs, approved

#1341 [PyOpenSci] Add make_criteria helper
  .github/workflows/upstream.yml
  CHANGES.rst
  docs/notebooks/ensembles-advanced.ipynb
  docs/notebooks/usage.ipynb
  xclim/ensembles/__init__.py
  xclim/ensembles/_reduce.py
  xclim/testing/tests/test_ensembles.py
  xclim/testing/tests/test_sdba/test_properties.py
Labels: CI, docs, approved
