Repository Ouranosinc/xclim, pull requests merged in 2023-11, with the labels that each got.

#1516 Fix 1515
  CHANGES.rst
  xclim/sdba/_adjustment.py
Labels: sdba, approved

#1519 Pin cf-xarray for Python3.8
  CHANGES.rst
  pyproject.toml
Labels: priority, support, approved

#1518 [bot] Update GitHub Action Versions
  .github/workflows/actions-versions-updater.yml
  .github/workflows/bump-version.yml
  .github/workflows/cache-cleaner.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/label_on_approval.yml
  .github/workflows/main.yml
  .github/workflows/publish-mastodon.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/tag-testpypi.yml
  .github/workflows/testdata_version.yml
  .github/workflows/upstream.yml
Labels: CI

#1514 Refactor robustness methods
  CHANGES.rst
  docs/notebooks/ensembles.ipynb
  docs/references.bib
  tests/test_ensembles.py
  xclim/core/formatting.py
  xclim/ensembles/__init__.py
  xclim/ensembles/_robustness.py
  xclim/indices/generic.py
Labels: help wanted, docs, approved

#1531 Running `pip check` in conda environments shouldn't fail
  .github/workflows/bump-version.yml
  .github/workflows/main.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/tag-testpypi.yml
  .github/workflows/upstream.yml
  CHANGES.rst
  README.rst
Labels: CI, docs, approved

#1541 Pin xarray and pandas to avoid frequency issues
  CHANGES.rst
  environment.yml
  pyproject.toml
Labels: standards / conventions, approved

#1528 Include indicator ID in searched terms.
  CHANGES.rst
  docs/_static/indsearch.js
Labels: docs, approved

#1535 Fix robustness fractions and categories attributes
  tests/test_ensembles.py
  xclim/ensembles/_robustness.py
Labels: approved

#1527 Escape HTML characters in the indicator search variable tooltip.
  CHANGES.rst
  docs/_static/indsearch.js
Labels: docs, approved

#1526 Configure RTD search rankings
  .readthedocs.yml
  CHANGES.rst
Labels: CI, docs, approved

#1542 Ensure inputs of cosine of solar zenith angle are chunked when needed
  CHANGES.rst
  tests/test_utils.py
  xclim/core/utils.py
  xclim/indices/_conversion.py
  xclim/indices/helpers.py
Labels: approved, indicators

#1532 MyPy fixes
  CHANGES.rst
  pyproject.toml
  xclim/analog.py
  xclim/core/calendar.py
  xclim/core/cfchecks.py
  xclim/core/formatting.py
  xclim/core/indicator.py
  xclim/core/units.py
  xclim/core/utils.py
  xclim/ensembles/_base.py
  xclim/ensembles/_partitioning.py
  xclim/ensembles/_reduce.py
  xclim/ensembles/_robustness.py
  xclim/indices/_anuclim.py
  xclim/indices/_conversion.py
  xclim/indices/_multivariate.py
  xclim/indices/_threshold.py
  xclim/indices/fire/_cffwis.py
  xclim/indices/helpers.py
  xclim/sdba/adjustment.py
  xclim/sdba/base.py
  xclim/sdba/processing.py
  xclim/sdba/properties.py
  xclim/sdba/utils.py
  xclim/testing/utils.py
Labels: standards / conventions, sdba, approved, indicators
