Repository Ouranosinc/xclim, pull requests merged in 2023-02, with the labels that each got.

#1288 CI cleanup
  .github/workflows/main.yml
  .pre-commit-config.yaml
  HISTORY.rst
  docs/conf.py
  docs/notebooks/ensembles-advanced.ipynb
  docs/notebooks/example.ipynb
  docs/notebooks/sdba-advanced.ipynb
  docs/notebooks/xclim_training/XCLIM Demo - Ensembles.ipynb
  docs/references.bib
  pyproject.toml
  tox.ini
  xclim/core/missing.py
  xclim/ensembles/_reduce.py
  xclim/indices/_conversion.py
  xclim/indices/generic.py
  xclim/indices/run_length.py
  xclim/sdba/_processing.py
  xclim/sdba/adjustment.py
  xclim/sdba/base.py
  xclim/testing/tests/test_atmos.py
  xclim/testing/tests/test_cffwis.py
  xclim/testing/tests/test_indices.py
  xclim/testing/tests/test_precip.py
  xclim/testing/tests/test_sdba/test_adjustment.py
  xclim/testing/tests/test_sdba/test_processing.py
  xclim/testing/utils.py
Labels: sdba, CI, docs, approved, indicators

#1287 Add Dependency security review scanner
  .github/workflows/dependency-review.yml
  HISTORY.rst
Labels: CI, approved

#1285 Mannwhitneyu
  HISTORY.rst
  xclim/ensembles/_robustness.py
  xclim/testing/tests/test_ensembles.py
Labels: enhancement

#1271 Snow and radiation conversion, indicator translation fixes
  HISTORY.rst
  docs/notebooks/example.ipynb
  xclim/core/units.py
  xclim/data/fr.json
  xclim/data/variables.yml
  xclim/indicators/atmos/_conversion.py
  xclim/indicators/land/_snow.py
  xclim/indices/_conversion.py
  xclim/testing/tests/test_locales.py
Labels: enhancement, docs, approved, indicators

#1291 Add missing argument of `use_ufunc` in `windowed_run_count`
  HISTORY.rst
  xclim/indices/run_length.py
Labels: approved

#1277 Fix `{snw,snd}_max_doy`
  HISTORY.rst
  xclim/indices/_hydrology.py
  xclim/testing/tests/test_indices.py
Labels: approved, indicators

#1269 Simplify atmosds testing dataset
  .github/workflows/main.yml
  HISTORY.rst
  tox.ini
  xclim/indices/_agro.py
  xclim/testing/tests/conftest.py
  xclim/testing/tests/data.py
  xclim/testing/tests/test_atmos.py
  xclim/testing/tests/test_cffwis.py
  xclim/testing/tests/test_ensembles.py
  xclim/testing/tests/test_ffdi.py
  xclim/testing/tests/test_indices.py
  xclim/testing/tests/test_precip.py
  xclim/testing/tests/test_run_length.py
  xclim/testing/tests/test_snow.py
  xclim/testing/tests/test_temperature.py
Labels: enhancement, information, CI, approved, indicators

#1235 Add Dryness Index
  .github/workflows/main.yml
  HISTORY.rst
  docs/conf.py
  docs/references.bib
  environment.yml
  pyproject.toml
  tox.ini
  xclim/data/fr.json
  xclim/indicators/atmos/_precip.py
  xclim/indicators/atmos/_temperature.py
  xclim/indices/_agro.py
  xclim/testing/tests/conftest.py
  xclim/testing/tests/data.py
  xclim/testing/tests/test_atmos.py
  xclim/testing/tests/test_cffwis.py
  xclim/testing/tests/test_ensembles.py
  xclim/testing/tests/test_ffdi.py
  xclim/testing/tests/test_indicators.py
  xclim/testing/tests/test_indices.py
  xclim/testing/tests/test_precip.py
  xclim/testing/tests/test_run_length.py
  xclim/testing/tests/test_snow.py
  xclim/testing/tests/test_temperature.py
  xclim/testing/tests/test_testing_utils.py
Labels: enhancement, priority, CI, docs, approved, indicators

#1300 Add snow water cover indices
  docs/references.bib
  xclim/indices/_conversion.py
Labels: enhancement, approved, indicators

#1302 Fix: pre-commit conda-forge package
  environment.yml
Labels: approved

#1297 Upgrade to tox v4.0 and adjust local testing default configurations
  .github/workflows/main.yml
  HISTORY.rst
  environment.yml
  pyproject.toml
  tox.ini
  xclim/testing/tests/conftest.py
  xclim/testing/tests/data.py
  xclim/testing/tests/data/eastern_canada.json
  xclim/testing/tests/data/meridian.json
  xclim/testing/tests/data/meridian_multi.json
  xclim/testing/tests/data/multi_regions.json
  xclim/testing/tests/data/poslons.json
  xclim/testing/tests/data/small_geojson.json
  xclim/testing/tests/data/southern_qc_geojson.json
  xclim/testing/tests/test_ensembles.py
Labels: standards / conventions, information, CI, approved

#1296 Add svgconverter for badges in documentation LaTeX
  HISTORY.rst
  docs/conf.py
  environment.yml
  pyproject.toml
Labels: bug, docs, approved

#1307 Add README badges for python versions and repo health
  .readthedocs.yml
  HISTORY.rst
  README.rst
Labels: priority, CI, docs, approved

#1252 More diags
  HISTORY.rst
  xclim/sdba/nbutils.py
  xclim/sdba/properties.py
  xclim/testing/tests/test_sdba/test_properties.py
Labels: sdba, approved

#1275 Add snow water cover indices
  HISTORY.rst
  docs/references.bib
  xclim/data/fr.json
  xclim/data/icclim.yml
  xclim/indicators/land/_snow.py
  xclim/indices/_conversion.py
  xclim/indices/_hydrology.py
  xclim/indices/_threshold.py
  xclim/testing/tests/test_indices.py
  xclim/testing/tests/test_snow.py
Labels: docs, approved, indicators

#1309 Prepare v0.41.0
  HISTORY.rst
  setup.cfg
  xclim/__init__.py
Labels: approved
