Repository Ouranosinc/xclim, pull requests merged in 2023-05, with the labels that each got.

#1355 Fix QDM's quantile computation
  CHANGES.rst
  tests/test_sdba/test_adjustment.py
  xclim/sdba/utils.py
Labels: sdba, approved

#1363 Fix labeler permissions
  .github/workflows/label.yml
Labels: CI, approved

#1292 Brown-Forsythe test
  CHANGES.rst
  docs/conf.py
  docs/references.bib
  tests/test_ensembles.py
  xclim/ensembles/_robustness.py
Labels: enhancement, docs, approved

#1351 Note about conventions and time coordinate, fix Zenodo link
  CHANGES.rst
  README.rst
  docs/notebooks/usage.ipynb
Labels: docs, approved

#1356 Add test_timeseries
  CHANGES.rst
  docs/conf.py
  tests/conftest.py
  tests/test_atmos.py
  tests/test_flags.py
  tests/test_indicators.py
  tests/test_precip.py
  xclim/testing/helpers.py
Labels: enhancement, docs, approved

#1364 Use the SBCK PyPI package
  .github/workflows/label.yml
  CHANGES.rst
  docs/conf.py
  docs/installation.rst
  tox.ini
  xclim/sdba/utils.py
Labels: enhancement, sdba, CI, docs, approved

#1366 Fix radiation units in converters
  CHANGES.rst
  xclim/indices/_conversion.py
Labels: invalid, approved, indicators

#1360 Add measure for taylor diagrams
  .zenodo.json
  AUTHORS.rst
  CHANGES.rst
  tests/test_sdba/test_measures.py
  xclim/sdba/measures.py
Labels: sdba, CI, docs, approved

#1367 Support use of calendar version xclim-testdata tags
  .github/workflows/main.yml
  CHANGES.rst
  tests/conftest.py
Labels: enhancement, standards / conventions, priority, CI, approved

#1372 tasmin -> tas in translations of cold_spell indices
  CHANGES.rst
  xclim/data/fr.json
Labels: approved, indicators

#1371 Prepare v0.43.0
  CHANGES.rst
  setup.cfg
  xclim/__init__.py
Labels: information, approved

#1375 Ignore linkcheck
  .readthedocs.yml
  CHANGES.rst
  docs/conf.py
Labels: bug, CI, docs, approved

#1377 Fix time_bnds on resample objects with xarray 2023.5.0
  CHANGES.rst
  tests/test_calendar.py
  xclim/core/calendar.py
Labels: bug, priority, approved

#250 Add JOSS Article, Review badge and Citation information
  .zenodo.json
  AUTHORS.rst
  CHANGES.rst
  CITATION.cff
  README.rst
  docs/paper/paper.bib
  docs/paper/paper.md
  pyproject.toml
Labels: help wanted, standards / conventions, priority, information, CI, docs, approved

#1378 Accelerate import - prevent numba warnings
  CHANGES.rst
  xclim/indices/fire/_cffwis.py
  xclim/indices/fire/_ffdi.py
  xclim/sdba/nbutils.py
Labels: sdba, approved, indicators

#1380 Fix error with ttest in change_significance occurring when all inputs are NaNs
  CHANGES.rst
  tests/test_ensembles.py
  xclim/ensembles/_robustness.py
Labels: approved

#1384 No more pint warning messages
  CHANGES.rst
  xclim/core/units.py
  xclim/testing/utils.py
Labels: invalid, approved
