Repository Ouranosinc/xclim, pull requests merged in 2023-01, with the labels that each got.

#1230 Update sdba documentation
  HISTORY.rst
  docs/references.bib
  docs/sdba.rst
  xclim/sdba/__init__.py
  xclim/sdba/adjustment.py
Labels: sdba, docs, approved

#1266 Fix some docs examples, add formula for growing_season_end
  HISTORY.rst
  xclim/indices/_threshold.py
Labels: bug, approved, indicators

#1267 Update LICENSE
  LICENSE
Labels: information, approved

#1272 Prepare v040
  HISTORY.rst
  setup.cfg
  setup.py
  xclim/__init__.py
Labels: standards / conventions, approved

#1278 Migrate from setup.py to pyproject.toml (PEP 517 and PEP 621)
  .github/CONTRIBUTING.rst
  .github/workflows/bump-version.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/main.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/tag-testpypi.yml
  .gitignore
  .mypy.ini
  .pre-commit-config.yaml
  HISTORY.rst
  MANIFEST.in
  Makefile
  README.rst
  docs/_static/_images/xclim-logo-small.png
  docs/_static/_images/xclim-logo.png
  docs/conf.py
  docs/index.rst
  docs/installation.rst
  docs/logos/xclim-logo-small.png
  docs/logos/xclim-logo.png
  docs/notebooks/analogs.ipynb
  docs/notebooks/cli.ipynb
  docs/notebooks/extendxclim.ipynb
  docs/notebooks/sdba-advanced.ipynb
  docs/sdba.rst
  environment.yml
  pyproject.toml
  requirements_dev.txt
  setup.cfg
  setup.py
  tox.ini
  xclim/__init__.py
  xclim/core/indicator.py
  xclim/ensembles/_reduce.py
  xclim/indicators/generic/__init__.py
  xclim/indicators/generic/_stats.py
  xclim/indices/_synoptic.py
  xclim/indices/helpers.py
  xclim/sdba/properties.py
  xclim/testing/tests/test_ffdi.py
  xclim/testing/tests/test_generic_indicators.py
  xclim/testing/tests/test_precip.py
  xclim/testing/tests/test_sdba/test_properties.py
  xclim/testing/tests/test_testing_utils.py
Labels: enhancement, standards / conventions, sdba, CI, docs, approved, indicators

#1284 Add doc for CFFWIS - Reload modules
  HISTORY.rst
  xclim/core/indicator.py
  xclim/indices/fire/_cffwis.py
Labels: approved, indicators

#1286 Update CI to use Python3.9 with upstream dependencies
  .github/workflows/main.yml
  .pre-commit-config.yaml
  HISTORY.rst
  tox.ini
Labels: CI, approved
