Repository Ouranosinc/xclim, pull requests merged in 2023-07, with the labels that each got.

#1413 Fix extremes n
  CHANGES.rst
  xclim/sdba/adjustment.py
Labels: sdba, approved

#1424 Fix generic indicators registry entries and tests after sklearn update
  CHANGES.rst
  docs/conf.py
  docs/indicators.rst
  tests/test_analog.py
  tests/test_ensembles.py
  xclim/core/indicator.py
  xclim/indicators/generic/_stats.py
Labels: docs, approved, indicators

#1426 Fix: 1425: virtual indicator realm attribute assignment logic
  CHANGES.rst
  tests/test_modules.py
  xclim/core/indicator.py
Labels: approved

#1418 Relax test_adapt_freq error tolerance threshold
  CHANGES.rst
  tests/test_sdba/test_processing.py
Labels: bug, approved

#1431 Add streamflow as a known variable
  CHANGES.rst
  xclim/data/variables.yml
Labels: approved, indicators

#1435 Fix #1432: Add support for passing optional variables through the ds argument
  CHANGES.rst
  tests/test_atmos.py
  tests/test_indicators.py
  xclim/core/indicator.py
  xclim/indices/_conversion.py
Labels: approved, indicators

#1430 Fix #1429: Adjust jetstream logic to handle coordinates in decreasing order
  CHANGES.rst
  xclim/indices/_synoptic.py
Labels: approved, indicators

#1442 Deterministic randomness
  tests/conftest.py
  tests/test_analog.py
  tests/test_bootstrapping.py
  tests/test_checks.py
  tests/test_ensembles.py
  tests/test_generic_indicators.py
  tests/test_indices.py
  tests/test_missing.py
  tests/test_partitioning.py
  tests/test_run_length.py
  tests/test_sdba/test_adjustment.py
  tests/test_sdba/test_processing.py
  tests/test_sdba/test_sdba_utils.py
  tests/test_snow.py
  tests/test_stats.py
  tests/test_temperature.py
  xclim/ensembles/_reduce.py
  xclim/testing/helpers.py
Labels: approved
