Repository Ouranosinc/xclim, pull requests merged in 2023-12, with the labels that each got.

#1538 fix freq/offset/indexer attrs in SPI
  CHANGES.rst
  tests/test_indices.py
  xclim/indices/_agro.py
  xclim/indices/stats.py
Labels: approved, indicators

#1547 Prepare version 0.47.0
  CHANGES.rst
  setup.cfg
  xclim/__init__.py
Labels: priority, approved

#1550 Do not fail on pip check
  .github/workflows/upstream.yml
Labels: CI, approved

#1555 Do not report coverage for initial builds
  .github/workflows/main.yml
Labels: standards / conventions, CI, approved

#1529 Add Lafferty and Sriver partition
  .github/workflows/main.yml
  CHANGES.rst
  docs/api.rst
  docs/notebooks/partitioning.ipynb
  docs/references.bib
  tests/conftest.py
  tests/test_partitioning.py
  xclim/ensembles/__init__.py
  xclim/ensembles/_partitioning.py
  xclim/testing/helpers.py
  xclim/testing/utils.py
Labels: CI, docs, approved

#1560 Validate YAML file using schema before constructing module.
  CHANGES.rst
  docs/notebooks/extendxclim.ipynb
  tests/test_modules.py
  xclim/core/indicator.py
Labels: docs, approved

#1563 Fixing missing=0 in convert calendar
  CHANGES.rst
  tests/test_calendar.py
  xclim/core/calendar.py
Labels: approved

#1558 Stack and unstack periods
  CHANGES.rst
  docs/notebooks/sdba-advanced.ipynb
  tests/test_calendar.py
  tests/test_sdba/test_processing.py
  xclim/core/calendar.py
  xclim/sdba/processing.py
  xclim/testing/helpers.py
Labels: sdba, docs, approved

#1569 Semantic Version v2.0.0 Specification
  .flake8
  .github/workflows/bump-version.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/main.yml
  .github/workflows/upstream.yml
  .gitignore
  .pre-commit-config.yaml
  CHANGES.rst
  CONTRIBUTING.rst
  Makefile
  environment.yml
  pyproject.toml
  setup.cfg
  tox.ini
Labels: standards / conventions, information, CI, docs, approved
