Repository Ouranosinc/xclim, pull requests merged in 2023-04, with the labels that each got.

#1344 Fixes for Pandas v2.0
  CHANGES.rst
  environment.yml
  pyproject.toml
  xclim/core/missing.py
  xclim/sdba/base.py
  xclim/testing/tests/conftest.py
  xclim/testing/tests/data.py
  xclim/testing/tests/test_ensembles.py
  xclim/testing/tests/test_sdba/test_properties.py
Labels: sdba, approved

#1343 Prepare v0.42.0
  CHANGES.rst
  environment.yml
  pyproject.toml
  setup.cfg
  xclim/__init__.py
  xclim/core/missing.py
  xclim/sdba/base.py
  xclim/testing/tests/conftest.py
  xclim/testing/tests/data.py
  xclim/testing/tests/test_ensembles.py
  xclim/testing/tests/test_sdba/test_properties.py
Labels: standards / conventions, sdba, approved

#1346 Pre commit update
  .pre-commit-config.yaml
  pyproject.toml
Labels: standards / conventions, CI, approved

#1318 Remove deprecated indicators/indices, handle warnings
  CHANGES.rst
  xclim/data/fr.json
  xclim/indicators/atmos/_temperature.py
  xclim/indicators/land/_snow.py
  xclim/indicators/land/_streamflow.py
  xclim/indices/_threshold.py
  xclim/indices/generic.py
  xclim/testing/tests/test_generic_indicators.py
  xclim/testing/tests/test_indices.py
  xclim/testing/tests/test_land.py
  xclim/testing/tests/test_sdba/test_processing.py
  xclim/testing/tests/test_stats.py
Labels: information, API, approved, indicators

#1350 Add pyOpenSci acceptance badge
  CHANGES.rst
  README.rst
Labels: standards / conventions, docs, approved

#1354 Address API changes in pip and xarray
  CHANGES.rst
  docs/conf.py
  tox.ini
  xclim/indices/_multivariate.py
Labels: CI, API, docs, approved, indicators
