Repository Ouranosinc/xclim, pull requests merged in 2023-06, with the labels that each got.

#1383 Faster escore
  CHANGES.rst
  xclim/sdba/nbutils.py
Labels: sdba, approved

#1382 Add contributing note on numba caching
  CONTRIBUTING.rst
Labels: docs, approved

#1381 Small clean up of dependencies and environment
  CHANGES.rst
  environment.yml
  pylintrc
  pyproject.toml
  xclim/core/indicator.py
  xclim/core/utils.py
Labels: CI, approved

#1388 Use mamba-org/setup-micromamba GitHub action, support Python3.11
  .github/workflows/main.yml
  .github/workflows/upstream.yml
  CHANGES.rst
  CONTRIBUTING.rst
  docs/notebooks/usage.ipynb
  pyproject.toml
  tests/test_ffdi.py
Labels: CI, docs, approved

#1358 Simple indicators
  CHANGES.rst
  docs/references.bib
  tests/conftest.py
  tests/test_indices.py
  tests/test_precip.py
  tests/test_wind.py
  xclim/core/units.py
  xclim/data/fr.json
  xclim/data/variables.yml
  xclim/indicators/atmos/_precip.py
  xclim/indicators/atmos/_wind.py
  xclim/indices/_conversion.py
  xclim/indices/_multivariate.py
  xclim/indices/_simple.py
  xclim/indices/_threshold.py
  xclim/testing/helpers.py
Labels: docs, approved, indicators

#1393 Add check in `declare_units`
  CHANGES.rst
  tests/test_units.py
  xclim/core/units.py
Labels: approved

#1394 Updated reference to Roy et al., 2023
  CHANGES.rst
  docs/references.bib
  xclim/sdba/adjustment.py
Labels: sdba, docs, approved

#1392 Document freq parameter
  CHANGES.rst
  docs/notebooks/usage.ipynb
  tests/test_indicators.py
  xclim/core/formatting.py
Labels: docs, approved

#1390 Add actions-versions-updater.yml and add-to-project.yml workflows
  .github/workflows/actions-versions-updater.yml
  .github/workflows/add-to-project.yml
  CHANGES.rst
Labels: standards / conventions, CI, approved

#1256 Rain season index
  CHANGES.rst
  docs/references.bib
  tests/test_indices.py
  tests/test_locales.py
  tests/test_precip.py
  tests/test_run_length.py
  xclim/core/indicator.py
  xclim/data/fr.json
  xclim/indicators/atmos/_precip.py
  xclim/indices/_agro.py
  xclim/indices/run_length.py
Labels: docs, approved, indicators

#1398 Add `method` option to frequency_analysis to select fitting method
  CHANGES.rst
  docs/notebooks/frequency_analysis.ipynb
  tests/test_stats.py
  xclim/indices/stats.py
Labels: docs, approved

#1399 Fix cosine of solar zenith angle glitches
  CHANGES.rst
  tests/test_atmos.py
  tests/test_helpers.py
  tests/test_indices.py
  xclim/indices/_conversion.py
  xclim/indices/helpers.py
Labels: approved, indicators

#1361 delayed_frost_days
  CHANGES.rst
  tests/test_atmos.py
  tests/test_indices.py
  tests/test_locales.py
  xclim/data/fr.json
  xclim/indicators/atmos/_temperature.py
  xclim/indices/_simple.py
  xclim/indices/_threshold.py
Labels: approved, indicators

#1396 Hardiness zones
  CHANGES.rst
  docs/references.bib
  tests/test_indices.py
  xclim/data/fr.json
  xclim/indicators/atmos/_temperature.py
  xclim/indices/_agro.py
  xclim/indices/generic.py
Labels: enhancement, docs, approved, indicators

#1397 Prepare v0.44.0
  .github/workflows/add-to-project.yml
  CHANGES.rst
  setup.cfg
  xclim/__init__.py
Labels: CI, approved

#1402 Augment `test_fit` error tolerance, add more tests for coverage
  CHANGES.rst
  tests/test_analog.py
  tests/test_sdba/test_processing.py
  tests/test_stats.py
  tests/test_testing_utils.py
  xclim/analog.py
Labels: standards / conventions, approved

#1262 Add functions to partition uncertainties according to method from Hawkins & Sutton (2009)
  CHANGES.rst
  docs/api.rst
  docs/references.bib
  tests/test_filters.py
  tests/test_partitioning.py
  xclim/ensembles/__init__.py
  xclim/ensembles/_filters.py
  xclim/ensembles/_partitioning.py
Labels: docs, approved

#1404 Remove reference to xclim-testdata hawkins-sutton branch
  .github/workflows/main.yml
  tests/test_partitioning.py
Labels: CI, approved

#1406 Convert doys
  CHANGES.rst
  tests/test_calendar.py
  xclim/core/calendar.py
Labels: approved

#1409 Fix kldiv docstring
  CHANGES.rst
  xclim/analog.py
Labels: approved
