Repository Ouranosinc/xclim, pull requests merged in 2023-08, with the labels that each got.

#1450 Fix multiindex error on upstream xr
  CHANGES.rst
  xclim/core/calendar.py
Labels: approved

#1457 Fix raise_flags
  CHANGES.rst
  tests/test_flags.py
  xclim/core/dataflags.py
Labels: approved

#1455 Fix bins input in ``get_zones``
  CHANGES.rst
  xclim/indices/generic.py
Labels: approved

#1449 Documentation adjustments
  .github/labeler.yml
  .github/workflows/actions-versions-updater.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/first_pull_request.yml
  .pre-commit-config.yaml
  .readthedocs.yml
  CHANGES.rst
  Makefile
  docs/conf.py
  docs/index.rst
  docs/notebooks/_finder.py
  docs/notebooks/analogs.ipynb
  docs/notebooks/cli.ipynb
  docs/notebooks/customize.ipynb
  docs/notebooks/ensembles-advanced.ipynb
  docs/notebooks/ensembles.ipynb
  docs/notebooks/example.ipynb
  docs/notebooks/example/example.fr.json
  docs/notebooks/example/example.py
  docs/notebooks/example/example.yml
  docs/notebooks/extendxclim.ipynb
  docs/notebooks/frequency_analysis.ipynb
  docs/notebooks/sdba-advanced.ipynb
  docs/notebooks/sdba.ipynb
  docs/notebooks/units.ipynb
  docs/notebooks/usage.ipynb
  environment.yml
  pyproject.toml
  tests/test_modules.py
  xclim/core/formatting.py
  xclim/core/missing.py
  xclim/core/utils.py
  xclim/indices/_multivariate.py
  xclim/indices/fire/_cffwis.py
  xclim/indices/generic.py
  xclim/indices/stats.py
  xclim/sdba/detrending.py
Labels: sdba, CI, docs, approved, indicators

#1460 Use platform-specific data caching directories
  CHANGES.rst
  environment.yml
  pyproject.toml
  xclim/testing/utils.py
Labels: standards / conventions, information, approved

#1443 Refactor indices with generic functions
  CHANGES.rst
  tests/test_indices.py
  xclim/core/units.py
  xclim/data/fr.json
  xclim/indicators/atmos/_temperature.py
  xclim/indices/_agro.py
  xclim/indices/_hydrology.py
  xclim/indices/_multivariate.py
  xclim/indices/_simple.py
  xclim/indices/_threshold.py
  xclim/indices/generic.py
Labels: approved, indicators

#1461 [bot] Update GitHub Action Versions
  .github/workflows/actions-versions-updater.yml
  .github/workflows/bump-version.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/first_pull_request.yml
  .github/workflows/label.yml
  .github/workflows/label_on_approval.yml
  .github/workflows/main.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/tag-testpypi.yml
  .github/workflows/testdata_version.yml
  .github/workflows/upstream.yml
Labels: CI, approved

#1414 Partial and relative unit declarations
  CHANGES.rst
  tests/test_indicators.py
  tests/test_units.py
  xclim/core/formatting.py
  xclim/core/indicator.py
  xclim/core/units.py
  xclim/core/utils.py
  xclim/data/cf.yml
  xclim/data/variables.yml
  xclim/indices/generic.py
Labels: approved, indicators

#1462 CI Updates, Cache cleaning, and Mastodon Workflow
  .github/workflows/actions-versions-updater.yml
  .github/workflows/cache-cleaner.yml
  .github/workflows/publish-mastodon.yml
  .github/workflows/testdata_version.yml
  CHANGES.rst
Labels: CI, approved

#1446 Refactor base indicator classes
  CHANGES.rst
  tests/test_generic_indicators.py
  tests/test_missing.py
  xclim/core/calendar.py
  xclim/core/indicator.py
  xclim/core/missing.py
  xclim/indicators/generic/_stats.py
Labels: approved, indicators
