Repository Ouranosinc/xclim, pull requests merged in 2023-10, with the labels that each got.

#1486 [bot] Update GitHub Action Versions
  .github/workflows/actions-versions-updater.yml
  .github/workflows/bump-version.yml
  .github/workflows/cache-cleaner.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/label_on_approval.yml
  .github/workflows/main.yml
  .github/workflows/publish-mastodon.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/tag-testpypi.yml
  .github/workflows/testdata_version.yml
  .github/workflows/upstream.yml
Labels: CI

#1487 Labeling fixes, Use Concurrency to cancel workflows
  .github/workflows/actions-versions-updater.yml
  .github/workflows/label_on_approval.yml
  .github/workflows/main.yml
  .github/workflows/publish-mastodon.template.md
  .github/workflows/publish-mastodon.yml
  CHANGES.rst
Labels: CI, approved

#1490 Address DeprecationWarnings
  CHANGES.rst
  tests/conftest.py
  tests/test_analog.py
  tests/test_ensembles.py
  tests/test_sdba/test_adjustment.py
  tests/test_stats.py
  xclim/analog.py
  xclim/data/schema.yml
  xclim/ensembles/_reduce.py
  xclim/ensembles/_robustness.py
Labels: sdba, approved, indicators

#1495 Optimize huglin and bedd for dask with flox
  CHANGES.rst
  tests/test_indices.py
  xclim/core/calendar.py
  xclim/indices/_agro.py
  xclim/indices/helpers.py
Labels: approved, indicators

#1484 Fix lazy indexing
  CHANGES.rst
  tests/test_run_length.py
  xclim/indices/run_length.py
  xclim/testing/helpers.py
Labels: approved

#1499 Generate a cache directory even if the "cache" folder is not found
  CHANGES.rst
  tests/conftest.py
  xclim/testing/utils.py
Labels: bug, priority, approved

#1492 Snow season length is 0 if there is 0 snow - fix solar_zenith_angle typo
  .github/workflows/main.yml
  CHANGES.rst
  tests/test_indices.py
  tests/test_snow.py
  xclim/indices/_threshold.py
  xclim/indices/helpers.py
Labels: CI, approved, indicators

#1485 Fix importlib.resources deprecations for py 3.9
  .github/workflows/main.yml
  CHANGES.rst
  environment.yml
  pyproject.toml
  xclim/__init__.py
  xclim/core/units.py
  xclim/core/utils.py
  xclim/testing/helpers.py
  xclim/testing/utils.py
Labels: CI, approved

#1498 More generic `generic.stats` - Allow 3H inputs
  CHANGES.rst
  tests/test_generic_indicators.py
  tests/test_indicators.py
  tests/test_missing.py
  xclim/core/formatting.py
  xclim/core/missing.py
  xclim/core/units.py
  xclim/data/fr.json
  xclim/indicators/generic/_stats.py
  xclim/indicators/land/_streamflow.py
  xclim/indices/generic.py
Labels: approved, indicators

#1502 Add keywords, move indicators API to its own page
  CHANGES.rst
  docs/_static/indsearch.js
  docs/api.rst
  docs/api_indicators.rst
  tests/test_formatting.py
  xclim/core/indicator.py
  xclim/indicators/atmos/_precip.py
  xclim/indicators/atmos/_temperature.py
  xclim/indicators/atmos/_wind.py
  xclim/indicators/land/_snow.py
  xclim/indicators/land/_streamflow.py
  xclim/indicators/seaIce/_seaice.py
Labels: docs, approved, indicators

#1407 Adapt freq in training
  .pre-commit-config.yaml
  CHANGES.rst
  docs/notebooks/analogs.ipynb
  docs/notebooks/cli.ipynb
  docs/notebooks/customize.ipynb
  docs/notebooks/ensembles-advanced.ipynb
  docs/notebooks/ensembles.ipynb
  docs/notebooks/example.ipynb
  docs/notebooks/extendxclim.ipynb
  docs/notebooks/frequency_analysis.ipynb
  docs/notebooks/partitioning.ipynb
  docs/notebooks/sdba-advanced.ipynb
  docs/notebooks/sdba.ipynb
  docs/notebooks/units.ipynb
  docs/notebooks/usage.ipynb
  docs/notebooks/xclim_training/Exercices.ipynb
  docs/notebooks/xclim_training/XARRAY_calcul_moy_saisonniere.ipynb
  docs/notebooks/xclim_training/XCLIM Demo - Ensembles.ipynb
  docs/notebooks/xclim_training/XCLIM_calculate_index-Exemple.ipynb
  docs/notebooks/xclim_training/finch.ipynb
  docs/notebooks/xclim_training/intro_xarray.ipynb
  docs/notebooks/xclim_training/readme.ipynb
  xclim/sdba/_adjustment.py
  xclim/sdba/_processing.py
  xclim/sdba/adjustment.py
  xclim/sdba/utils.py
Labels: sdba, CI, docs, approved

#1505 Snow storm days indices (and change `snw_season_XYZ` default thresholds)
  CHANGES.rst
  tests/test_indices.py
  tests/test_land.py
  xclim/core/utils.py
  xclim/data/fr.json
  xclim/indicators/land/_snow.py
  xclim/indices/_threshold.py
Labels: approved, indicators

#1504 Linting with Ruff
  .pre-commit-config.yaml
  CHANGES.rst
  Makefile
  README.rst
  docs/rstjinja.py
  environment.yml
  pyproject.toml
  setup.cfg
  tests/conftest.py
  tests/test_analog.py
  tests/test_atmos.py
  tests/test_bootstrapping.py
  tests/test_flags.py
  tests/test_indicators.py
  tests/test_partitioning.py
  tests/test_run_length.py
  tests/test_testing_utils.py
  tests/test_units.py
  tox.ini
  xclim/__init__.py
  xclim/analog.py
  xclim/core/calendar.py
  xclim/core/dataflags.py
  xclim/core/formatting.py
  xclim/core/indicator.py
  xclim/core/locales.py
  xclim/core/units.py
  xclim/core/utils.py
  xclim/ensembles/_robustness.py
  xclim/indicators/atmos/_precip.py
  xclim/indicators/land/_streamflow.py
  xclim/indices/_agro.py
  xclim/indices/_conversion.py
  xclim/indices/_multivariate.py
  xclim/indices/_threshold.py
  xclim/indices/fire/_cffwis.py
  xclim/indices/fire/_ffdi.py
  xclim/indices/generic.py
  xclim/indices/run_length.py
  xclim/sdba/_processing.py
  xclim/sdba/adjustment.py
  xclim/sdba/base.py
  xclim/sdba/detrending.py
  xclim/sdba/properties.py
  xclim/testing/diagnostics.py
  xclim/testing/helpers.py
  xclim/testing/sdba_utils.py
Labels: enhancement, standards / conventions, sdba, CI, docs, approved, indicators

#1506 Remove deprecated `mf_file` call signatures
  CHANGES.rst
  CONTRIBUTING.rst
  tests/test_ensembles.py
  xclim/core/indicator.py
  xclim/ensembles/_base.py
Labels: information, docs, approved

#1507 Fix data flags var name generation
  CHANGES.rst
  tests/test_flags.py
  xclim/core/dataflags.py
  xclim/indices/generic.py
Labels: approved

#1311 Improve SPI performance
  CHANGES.rst
  tests/test_indices.py
  xclim/indices/_agro.py
  xclim/indices/stats.py
Labels: approved, indicators

#1501 Remove faulty default in MRT and UTCI
  .github/workflows/main.yml
  CHANGES.rst
  tests/test_atmos.py
  tests/test_indices.py
  xclim/indices/_conversion.py
  xclim/indices/helpers.py
Labels: CI, approved, indicators

#1508 Prepare v0.46.0
  CHANGES.rst
  setup.cfg
  xclim/__init__.py
Labels: standards / conventions, approved

#1511 Fix toot workflow and formatting
  .github/publish-mastodon.template.md
  .github/workflows/publish-mastodon.yml
  .pre-commit-config.yaml
Labels: bug, CI, approved
