Repository Ouranosinc/xclim, pull requests merged in 2024-05, with the labels that each got.

#1732 Add support for method argument in ensemble_percentile
  CHANGES.rst
  tests/test_ensembles.py
  xclim/ensembles/_base.py
Labels: approved

#1721 `mypy` compliance
  CHANGES.rst
  docs/notebooks/extendxclim.ipynb
  environment.yml
  pyproject.toml
  tests/test_indicators.py
  tests/test_utils.py
  xclim/__init__.py
  xclim/analog.py
  xclim/cli.py
  xclim/core/calendar.py
  xclim/core/dataflags.py
  xclim/core/formatting.py
  xclim/core/indicator.py
  xclim/core/locales.py
  xclim/core/units.py
  xclim/core/utils.py
  xclim/ensembles/_base.py
  xclim/indices/_agro.py
  xclim/indices/_anuclim.py
  xclim/indices/_conversion.py
  xclim/indices/_multivariate.py
  xclim/indices/_simple.py
  xclim/indices/_threshold.py
  xclim/indices/fire/_cffwis.py
  xclim/indices/fire/_ffdi.py
  xclim/indices/generic.py
  xclim/indices/helpers.py
  xclim/indices/run_length.py
  xclim/indices/stats.py
  xclim/sdba/_adjustment.py
  xclim/sdba/_processing.py
  xclim/sdba/adjustment.py
  xclim/sdba/base.py
  xclim/sdba/measures.py
  xclim/sdba/nbutils.py
  xclim/sdba/processing.py
  xclim/sdba/properties.py
  xclim/sdba/utils.py
  xclim/testing/diagnostics.py
  xclim/testing/helpers.py
  xclim/testing/utils.py
Labels: help wanted, standards / conventions, sdba, API, docs, approved, indicators

#1731 Use Furo documentation theme
  .gitignore
  .pre-commit-config.yaml
  .zenodo.json
  AUTHORS.rst
  CHANGES.rst
  Makefile
  README.rst
  docs/Makefile
  docs/_static/indsearch.js
  docs/_static/style.css
  docs/_static/xarray.css
  docs/_templates/base.html
  docs/api.rst
  docs/conf.py
  docs/installation.rst
  docs/logos/empty.png
  docs/logos/xclim-logo-dark.png
  docs/logos/xclim-logo-light.png
  docs/logos/xclim-logo-small-dark.png
  docs/logos/xclim-logo-small-light.png
  docs/logos/xclim-logo-small.png
  docs/notebooks/Indicator.svg
  docs/notebooks/example.ipynb
  docs/notebooks/example/example.py
  docs/notebooks/extendxclim.ipynb
  environment.yml
  pyproject.toml
  tests/test_formatting.py
  tox.ini
  xclim/core/formatting.py
  xclim/core/indicator.py
  xclim/core/locales.py
  xclim/data/__init__.py
Labels: priority, CI, docs, approved

#1720 Proper use of `loc` parameter in `gamma`,`fisk` dists (SPI/SPEI)
  CHANGES.rst
  docs/references.bib
  tests/test_indicators.py
  tests/test_indices.py
  tests/test_precip.py
  xclim/core/formatting.py
  xclim/core/utils.py
  xclim/indices/_agro.py
  xclim/indices/stats.py
Labels: priority, docs, approved, indicators

#1742 Fix adapt_freq example in notebook
  CHANGES.rst
  docs/notebooks/sdba-advanced.ipynb
  docs/notebooks/sdba.ipynb
Labels: docs, approved

#1741 Prepare v0.49.0
  CHANGES.rst
  pyproject.toml
  xclim/__init__.py
Labels: priority, approved

#1744 Pin dependencies in workflows
  .github/workflows/bump-version.yml
  .github/workflows/main.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/tag-testpypi.yml
  CHANGES.rst
  environment.yml
  pyproject.toml
  tox.ini
Labels: CI, approved
