Repository Ouranosinc/xclim, pull requests merged in 2024-07, with the labels that each got.

#1804 Fix for Fahrenheit deltas, degree-days and others.
  CHANGES.rst
  tests/test_units.py
  xclim/core/units.py
Labels: approved

#1823 Use CHANGELOG.rst instead of CHANGES.rst
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/bump-version.yml
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .github/workflows/upstream.yml
  CHANGELOG.rst
  CONTRIBUTING.rst
  docs/changelog.rst
  docs/changes.rst
  docs/index.rst
  pyproject.toml
  xclim/testing/utils.py
Labels: information, CI, docs, approved

#1824 Prepare v0.51.0
  CHANGELOG.rst
  pyproject.toml
  xclim/__init__.py
Labels: standards / conventions, approved

#1826 change translation of WETDAYS and WETDAYS_PROP
  CHANGELOG.rst
  xclim/data/fr.json
Labels: approved, indicators

#1841 Use hashed dependencies and fix workflow permissions
  .github/workflows/add-to-project.yml
  .github/workflows/bump-version.yml
  .github/workflows/cache-cleaner.yml
  .github/workflows/first-pull-request.yml
  .github/workflows/label-on-approval.yml
  .github/workflows/label.yml
  .github/workflows/main.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/tag-testpypi.yml
  .github/workflows/testdata-version.yml
  .github/workflows/upstream.yml
  .github/workflows/workflow-warning.yml
  CHANGELOG.rst
  CI/requirements_ci.in
  CI/requirements_ci.txt
  pyproject.toml
Labels: CI, approved

#1843 Fix time indexer encoder and parser in fitting standardized index and…
  .zenodo.json
  AUTHORS.rst
  CHANGELOG.rst
  tests/test_indices.py
  xclim/indices/stats.py
Labels: docs, approved

#1513 Speed up quantiles with sorting
  .github/workflows/main.yml
  AUTHORS.rst
  CHANGELOG.rst
  docs/conf.py
  docs/notebooks/benchmarks/sdba_quantile.ipynb
  pyproject.toml
  tests/test_sdba/test_nbutils.py
  tox.ini
  xclim/sdba/nbutils.py
Labels: sdba, CI, docs, approved

#1580 Fast MBCn (a la groupies)
  CHANGELOG.rst
  docs/notebooks/sdba.ipynb
  tests/test_sdba/test_adjustment.py
  xclim/sdba/_adjustment.py
  xclim/sdba/adjustment.py
  xclim/sdba/nbutils.py
  xclim/sdba/processing.py
  xclim/sdba/utils.py
Labels: sdba, docs, approved, indicators

#1838 Fix wet spells - generic spell statistics
  CHANGELOG.rst
  tests/conftest.py
  tests/test_indices.py
  tests/test_precip.py
  xclim/indices/_threshold.py
  xclim/indices/generic.py
  xclim/indices/run_length.py
Labels: approved, indicators

#1632 Use latest `pytest` and `xdoctest`
  .github/workflows/main.yml
  CHANGELOG.rst
  environment.yml
  pyproject.toml
  tests/conftest.py
  tests/test_temperature.py
  tox.ini
  xclim/core/calendar.py
  xclim/indices/_agro.py
  xclim/indices/_anuclim.py
  xclim/indices/_multivariate.py
  xclim/indices/_simple.py
  xclim/indices/_threshold.py
  xclim/testing/conftest.py
  xclim/testing/helpers.py
  xclim/testing/utils.py
Labels: CI, approved, indicators

#1814 Dimensionless units as "1" - adapt to numpy 2
  .github/workflows/main.yml
  CHANGELOG.rst
  docs/notebooks/sdba-advanced.ipynb
  docs/notebooks/sdba.ipynb
  environment.yml
  pyproject.toml
  tests/test_atmos.py
  tests/test_calendar.py
  tests/test_cli.py
  tests/test_ensembles.py
  tests/test_generic.py
  tests/test_hydrology.py
  tests/test_indicators.py
  tests/test_indices.py
  tests/test_land.py
  tests/test_precip.py
  tests/test_run_length.py
  tests/test_sdba/test_adjustment.py
  tests/test_sdba/test_detrending.py
  tests/test_sdba/test_processing.py
  tests/test_sdba/test_sdba_utils.py
  tests/test_snow.py
  tests/test_temperature.py
  tests/test_testing_utils.py
  tests/test_units.py
  tests/test_utils.py
  tox.ini
  xclim/analog.py
  xclim/cli.py
  xclim/core/bootstrapping.py
  xclim/core/calendar.py
  xclim/core/units.py
  xclim/core/utils.py
  xclim/ensembles/_reduce.py
  xclim/ensembles/_robustness.py
  xclim/indices/_agro.py
  xclim/indices/fire/_cffwis.py
  xclim/indices/run_length.py
  xclim/sdba/_adjustment.py
  xclim/sdba/adjustment.py
  xclim/sdba/loess.py
  xclim/sdba/nbutils.py
  xclim/sdba/utils.py
  xclim/testing/helpers.py
  xclim/testing/utils.py
Labels: sdba, CI, API, docs, approved, indicators
