Repository Ouranosinc/xclim, pull requests merged in 2024-11, with the labels that each got.

#1991 Pin dask higher, skip dask v2024.11.0
  CHANGELOG.rst
  environment.yml
  pyproject.toml
Labels: approved, dependencies

#1994 Changed French translations with word "pluvieux" to "avec précipitations"
  CHANGELOG.rst
  xclim/data/fr.json
Labels: approved, indicators

#1993 Fix wrong unpickling with dask 2024.11
  CHANGELOG.rst
  environment.yml
  pyproject.toml
  xclim/sdba/base.py
Labels: sdba, approved

#1997 Fix nimbus URL joining
  CHANGELOG.rst
  xclim/testing/utils.py
Labels: bug, approved

#1999 MBCn: `base_kws_vars` copied to avoid global changes
  CHANGELOG.rst
  xclim/sdba/adjustment.py
Labels: sdba, approved

#2001 Fix `nimbus` fetching mechanism for ReadTheDocs
  CHANGELOG.rst
  xclim/testing/utils.py
Labels: bug, standards / conventions, approved

#1863 Integrate energy measurements
  .github/workflows/dependency-review.yml
  .github/workflows/main.yml
  .github/workflows/scorecard.yml
  .github/workflows/upstream.yml
  CHANGELOG.rst
  README.rst
  tests/conftest.py
Labels: CI, docs, approved

#1996 Add `q` (streamflow) to variables.yml
  CHANGELOG.rst
  xclim/data/variables.yml
Labels: approved, indicators

#2005 Fix nan handling in dOTC
  tests/test_sdba/test_adjustment.py
  xclim/sdba/_adjustment.py
  xclim/sdba/adjustment.py
Labels: sdba
