Repository Ouranosinc/xclim, pull requests merged in 2024-12, with the labels that each got.

#1995 Conditions to match `ref.time` & `hist.time`, and also `ref.time.size` & `sim.time.size`
  .github/workflows/main.yml
  CHANGELOG.rst
  docs/notebooks/customize.ipynb
  docs/notebooks/sdba-advanced.ipynb
  docs/notebooks/units.ipynb
  docs/notebooks/usage.ipynb
  environment.yml
  tests/test_sdba/conftest.py
  tests/test_sdba/test_adjustment.py
  xclim/sdba/_adjustment.py
  xclim/sdba/adjustment.py
Labels: priority, sdba, CI, docs, approved

#2003 Add positive chill units
  CHANGELOG.rst
  tests/test_indices.py
  xclim/indices/_agro.py
Labels: approved, indicators

#2013 Add test for different training times (:pull:`1995` extra)
  CHANGELOG.rst
  tests/test_sdba/test_adjustment.py
Labels: sdba, approved

#2012 Remove obsolete FAIR badge, update badge names
  README.rst
Labels: docs, approved

#2015 Handle exceptionally rare linear algebra error
  CHANGELOG.rst
  tests/test_sdba/test_loess.py
Labels: priority, sdba, approved

#2017 Expose the select_rolling_resample_op function
  src/xclim/indices/generic.py
Labels: approved

#2018 Various typing and signature fixes
  CHANGELOG.rst
  docs/conf.py
  src/xclim/cli.py
  src/xclim/core/bootstrapping.py
  src/xclim/core/dataflags.py
  src/xclim/core/indicator.py
  src/xclim/core/units.py
  src/xclim/ensembles/_base.py
  src/xclim/ensembles/_reduce.py
  src/xclim/indices/_agro.py
  src/xclim/indices/_threshold.py
  src/xclim/indices/helpers.py
  src/xclim/indices/run_length.py
  src/xclim/sdba/_adjustment.py
  src/xclim/sdba/processing.py
  src/xclim/sdba/utils.py
  src/xclim/testing/helpers.py
Labels: priority, sdba, docs, approved, indicators

#2023 Workflow security fixes
  .github/workflows/bump-version.yml
  .github/workflows/cache-cleaner.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/main.yml
  .github/workflows/publish-mastodon.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/scorecard.yml
  .github/workflows/tag-testpypi.yml
  .github/workflows/testdata-version.yml
  .github/workflows/upstream.yml
  CHANGELOG.rst
Labels: CI, approved

#2016 Prepare v0.54.0
  CHANGELOG.rst
  README.rst
  pyproject.toml
  src/xclim/__init__.py
Labels: standards / conventions, docs, approved

#2027 Fix token
  .github/workflows/bump-version.yml
  pyproject.toml
  src/xclim/__init__.py
Labels: priority, CI, approved
