Repository Ouranosinc/xclim, pull requests merged in 2024-10, with the labels that each got.

#1909 Add chill portion and chill units
  CHANGELOG.rst
  docs/references.bib
  tests/test_atmos.py
  tests/test_helpers.py
  tests/test_indices.py
  xclim/data/fr.json
  xclim/indicators/atmos/_temperature.py
  xclim/indices/_agro.py
  xclim/indices/helpers.py
Labels: docs, approved, indicators

#1939 make_hourly_temperature floors time to day
  xclim/indices/helpers.py
Labels: approved

#1926 Heat wave magnitude indicator
  .zenodo.json
  AUTHORS.rst
  CHANGELOG.rst
  docs/references.bib
  tests/test_indices.py
  tests/test_run_length.py
  tests/test_temperature.py
  xclim/data/fr.json
  xclim/indicators/atmos/_temperature.py
  xclim/indices/_threshold.py
  xclim/indices/run_length.py
Labels: docs, approved, indicators

#1832 Create _streamflow_flow_indices.py
  .gitignore
  AUTHORS.rst
  docs/references.bib
  tests/test_hydrology.py
  tests/test_land.py
  xclim/data/fr.json
  xclim/indicators/land/_streamflow.py
  xclim/indices/_hydrology.py
Labels: docs, approved, indicators

#1848 Block-mapped resample with the help of flox
  CHANGELOG.rst
  environment.yml
  pyproject.toml
  tests/test_atmos.py
  tests/test_helpers.py
  tests/test_indices.py
  xclim/core/indicator.py
  xclim/core/options.py
  xclim/core/utils.py
  xclim/indices/_agro.py
  xclim/indices/_threshold.py
  xclim/indices/generic.py
  xclim/indices/helpers.py
  xclim/indices/run_length.py
Labels: approved, indicators

#1836 Support for temperature differences in CF attributes
  CHANGELOG.rst
  docs/notebooks/units.ipynb
  tests/test_generic.py
  tests/test_indices.py
  tests/test_sdba/test_properties.py
  tests/test_units.py
  xclim/core/indicator.py
  xclim/core/units.py
  xclim/indices/_multivariate.py
  xclim/indices/generic.py
  xclim/sdba/measures.py
  xclim/sdba/properties.py
Labels: sdba, docs, approved, indicators

#1952 Support freq="W" in standardized indices
  CHANGELOG.rst
  tests/test_indices.py
  xclim/indices/_agro.py
  xclim/indices/stats.py
Labels: approved, indicators

#1963 Fix subdaily rate2amount, add hydro transformation from lwe thickness to amount
  CHANGELOG.rst
  tests/test_units.py
  xclim/core/units.py
Labels: priority, approved

#1961 Disable upstream numpy until numba supports it, use raw.githubusercontent
  CHANGELOG.rst
  CI/requirements_upstream.txt
  tests/test_indices.py
  xclim/testing/utils.py
Labels: priority, approved

#1964 Avoid FutureWarning for `dt.week`
  tests/test_indices.py
  tests/test_sdba/test_base.py
  xclim/indices/stats.py
Labels: priority, sdba, approved

#1965 Prepare v0.53.0
  CHANGELOG.rst
  pyproject.toml
  xclim/__init__.py
Labels: priority, approved

#1972 Fix conversion of units of multivariate DataArray in sdba
  CHANGELOG.rst
  xclim/sdba/adjustment.py
Labels: bug, sdba, approved

#1973 Fix indicator outputting delta degC
  CHANGELOG.rst
  tests/test_indicators.py
  xclim/core/indicator.py
Labels: approved

#1977 Fix docstring of frost free spell max length
  CHANGELOG.rst
  xclim/indices/_threshold.py
Labels: approved, indicators

#1974 Prepare v0.53.2
  .github/publish-mastodon-template.md
  .github/workflows/publish-mastodon.yml
  CHANGELOG.rst
  pyproject.toml
  xclim/__init__.py
Labels: CI, approved

#1980 Fix version
  .github/workflows/bump-version.yml
  pyproject.toml
  xclim/__init__.py
Labels: priority, CI, approved

#1981 Fix injection of added parameters
  CHANGELOG.rst
  docs/notebooks/example/example.yml
  docs/notebooks/extendxclim.ipynb
  tests/test_modules.py
  xclim/core/indicator.py
Labels: docs, approved

#1983 Fix all-nan slices in ExtremeValues
  CHANGELOG.rst
  tests/test_sdba/test_adjustment.py
  xclim/sdba/_adjustment.py
Labels: sdba, approved

#1984 Prepare v0.53.2
  .github/workflows/publish-pypi.yml
  .github/workflows/tag-testpypi.yml
  CHANGELOG.rst
  pyproject.toml
  xclim/__init__.py
Labels: priority, CI, approved
