Repository Ouranosinc/xclim, pull requests merged in 2024-06, with the labels that each got.

#1769 Fix hawkins sutton smoke tests, linting
  CHANGES.rst
  docs/notebooks/ensembles.ipynb
  docs/notebooks/sdba-advanced.ipynb
  pyproject.toml
  tests/conftest.py
  tests/test_partitioning.py
  xclim/ensembles/_filters.py
Labels: bug, docs, approved

#1773 Pin pint below v0.24
  .github/workflows/dependency-review.yml
  CHANGES.rst
  environment.yml
  pyproject.toml
Labels: CI, approved

#1772 fix linting issues raised from new pylint and codespell versions
  CHANGES.rst
  pyproject.toml
  tests/test_calendar.py
  tests/test_indices.py
  xclim/indices/_agro.py
  xclim/indices/_anuclim.py
  xclim/indices/_multivariate.py
  xclim/indices/_simple.py
  xclim/indices/_threshold.py
  xclim/indices/fire/_cffwis.py
  xclim/indices/fire/_ffdi.py
  xclim/sdba/adjustment.py
  xclim/sdba/loess.py
  xclim/sdba/processing.py
Labels: sdba, approved, indicators

#1777 fix {hot|cold}_spell_max_length
  CHANGES.rst
  tests/test_indices.py
  xclim/indices/_threshold.py
Labels: approved, indicators

#1758 Thresh count & bivariate spell in sdba properties
  CHANGES.rst
  tests/test_sdba/test_properties.py
  xclim/sdba/properties.py
Labels: sdba, approved

#1761 Deprecate calendar ops
  CHANGES.rst
  tests/test_calendar.py
  tests/test_generic.py
  tests/test_helpers.py
  tests/test_indices.py
  tests/test_missing.py
  tests/test_sdba/test_processing.py
  xclim/core/bootstrapping.py
  xclim/core/calendar.py
  xclim/core/missing.py
  xclim/core/units.py
  xclim/ensembles/_base.py
  xclim/indices/generic.py
  xclim/indices/helpers.py
  xclim/sdba/base.py
  xclim/testing/helpers.py
Labels: sdba, docs, approved

#1764 Normalized taylordiagram
  CHANGES.rst
  tests/test_sdba/test_measures.py
  xclim/sdba/measures.py
Labels: sdba, approved

#1780 Address scalar/dimension concatenation error
  CHANGES.rst
  tests/test_partitioning.py
  xclim/ensembles/_filters.py
Labels: bug, approved

#1784 Prepare v0.50.0
  CHANGES.rst
  pyproject.toml
  xclim/__init__.py
Labels: approved

#1791 Pin netcdf4
  CHANGES.rst
  environment.yml
  pyproject.toml
Labels: bug, approved, dependencies

#1790 Add an Ouranos Helper Bot for bumping the main branch version, Workflow cleanup, Address security warnings
  .flake8
  .github/deactivated/actions-versions-updater.yml
  .github/workflows/add-to-project.yml
  .github/workflows/bump-version.yml
  .github/workflows/cache-cleaner.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/first-pull-request.yml
  .github/workflows/label-on-approval.yml
  .github/workflows/label.yml
  .github/workflows/main.yml
  .github/workflows/publish-mastodon.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/scorecard.yml
  .github/workflows/tag-testpypi.yml
  .github/workflows/testdata-version.yml
  .github/workflows/upstream.yml
  .github/workflows/workflow-warning.yml
  .pre-commit-config.yaml
  CHANGES.rst
  CI/requirements_ci.txt
  CI/requirements_upstream.txt
  environment.yml
  pyproject.toml
  tests/test_analog.py
  tests/test_atmos.py
  tests/test_ensembles.py
  tests/test_locales.py
  tests/test_partitioning.py
  tests/test_sdba/test_adjustment.py
  tests/test_sdba/test_processing.py
  tests/test_stats.py
  tox.ini
  xclim/core/calendar.py
  xclim/sdba/adjustment.py
  xclim/sdba/utils.py
  xclim/testing/utils.py
Labels: sdba, CI, approved

#1797 Unblock GitHub API
  .github/workflows/bump-version.yml
Labels: CI, approved

#1796 Growing Season operators
  CHANGES.rst
  tests/test_indicators.py
  xclim/data/fr.json
  xclim/indicators/atmos/_temperature.py
  xclim/indices/_threshold.py
Labels: approved, indicators

#1812 Add a GPG key to the helper bot
  .github/workflows/bump-version.yml
  CHANGES.rst
Labels: standards / conventions, priority, CI, approved

#1813 Provide necessary write permissions to cache-cleaner
  .github/workflows/cache-cleaner.yml
Labels: bug, CI, approved

#1806 Add Deptry, split `dev` into `dev` and `docs` recipes, address bandit security issues
  .pre-commit-config.yaml
  CHANGES.rst
  CI/requirements_ci.txt
  CONTRIBUTING.rst
  Makefile
  docs/installation.rst
  environment.yml
  pyproject.toml
  tests/test_sdba/test_base.py
  tests/test_testing_utils.py
  tox.ini
  xclim/cli.py
  xclim/core/formatting.py
  xclim/core/indicator.py
  xclim/core/units.py
  xclim/indicators/atmos/_conversion.py
  xclim/sdba/adjustment.py
  xclim/sdba/base.py
  xclim/testing/diagnostics.py
  xclim/testing/helpers.py
  xclim/testing/utils.py
Labels: information, sdba, CI, API, docs, approved, indicators
