Repository Ouranosinc/xclim, pull requests merged in 2024-04, with the labels that each got.

#1700 Fix time_bnds for xarray 2024.03
  CHANGES.rst
  tests/test_calendar.py
  xclim/core/calendar.py
Labels: approved

#1699 handle all nan case for loess smoothing
  CHANGES.rst
  tests/test_sdba/test_loess.py
  xclim/sdba/loess.py
Labels: sdba, approved

#1711 No change is different from negative change
  CHANGES.rst
  tests/test_ensembles.py
  xclim/ensembles/_robustness.py
Labels: approved

#1709 Reconfigure Builds and perform more doctests
  .github/workflows/main.yml
  CHANGES.rst
  pyproject.toml
  requirements_upstream.txt
  tox.ini
Labels: CI, approved

#1717 Add vulture to find dead code
  .pre-commit-config.yaml
  CHANGES.rst
  Makefile
  pyproject.toml
  tests/test_cli.py
  tests/test_formatting.py
  tests/test_sdba/conftest.py
  tests/test_units.py
  tox.ini
  xclim/core/calendar.py
  xclim/core/indicator.py
  xclim/core/options.py
  xclim/core/units.py
  xclim/indices/fire/_cffwis.py
  xclim/sdba/__init__.py
  xclim/sdba/processing.py
Labels: sdba, CI, approved, indicators

#1714 Adjust doc in dist_method to explain nnlf is not supported because it reduces dimensions.
  CHANGES.rst
  tests/test_stats.py
  xclim/indices/stats.py
Labels: approved

#1712 Add DMC standalone
  CHANGES.rst
  tests/test_cffwis.py
  xclim/data/fr.json
  xclim/indicators/atmos/_precip.py
  xclim/indices/__init__.py
  xclim/indices/fire/_cffwis.py
Labels: approved, indicators

#1713 Remove columns that are all NaNs in make_criteria
  CHANGES.rst
  tests/test_ensembles.py
  xclim/ensembles/_reduce.py
Labels: approved

#1716 Fix: QuantileDeltaMapping not working for seasonal grouping
  CHANGES.rst
  tests/test_sdba/test_adjustment.py
  xclim/sdba/base.py
  xclim/sdba/utils.py
Labels: sdba, approved

#1723 Add potential evapotranspiration method based on Droogers and Allen (2002)
  .zenodo.json
  AUTHORS.rst
  CHANGES.rst
  docs/references.bib
  tests/test_indices.py
  xclim/indices/_conversion.py
  xclim/sdba/adjustment.py
Labels: docs, approved, indicators

#1737 Remove change_significance
  CHANGES.rst
  docs/api.rst
  xclim/ensembles/__init__.py
  xclim/ensembles/_robustness.py
Labels: docs, approved
