Repository Ouranosinc/xclim, pull requests merged in 2024-01, with the labels that each got.

#1577 Harden Workflow Security
  .github/workflows/actions-versions-updater.yml
  .github/workflows/add-to-project.yml
  .github/workflows/bump-version.yml
  .github/workflows/cache-cleaner.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/first_pull_request.yml
  .github/workflows/main.yml
  .github/workflows/publish-mastodon.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/tag-testpypi.yml
  .github/workflows/testdata_version.yml
  .github/workflows/upstream.yml
  CHANGES.rst
Labels: standards / conventions, CI, approved

#1574 [bot] Update GitHub Action Versions
  .github/workflows/bump-version.yml
  .github/workflows/label.yml
  .github/workflows/main.yml
  .github/workflows/publish-mastodon.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/tag-testpypi.yml
  .github/workflows/upstream.yml
Labels: CI, approved

#1554 Fix window attrs in SPI/SPEI
  CHANGES.rst
  docs/references.bib
  xclim/indices/_agro.py
  xclim/indices/stats.py
Labels: docs, approved, indicators

#1573 Fix semver workflow to conform to regex conventions in GitHub
  .github/workflows/bump-version.yml
  CHANGES.rst
  CONTRIBUTING.rst
  pyproject.toml
  tests/conftest.py
  tests/test_formatting.py
  xclim/__init__.py
Labels: bug, priority, information, CI, docs, approved

#1572 GitHub Discussions for questions and translations
  .github/DISCUSSION_TEMPLATE/questions.yml
  .github/DISCUSSION_TEMPLATE/translations.yml
  .github/ISSUE_TEMPLATE/0004-QUESTION-SUPPORT.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/bump-version.yml
  CHANGES.rst
  CONTRIBUTING.rst
  README.rst
  pyproject.toml
Labels: standards / conventions, information, support, docs, approved

#1576 Spellchecking with codespell
  .pre-commit-config.yaml
  CHANGES.rst
  Makefile
  docs/installation.rst
  docs/notebooks/ensembles.ipynb
  docs/notebooks/partitioning.ipynb
  docs/notebooks/sdba-advanced.ipynb
  docs/notebooks/sdba.ipynb
  docs/notebooks/usage.ipynb
  environment.yml
  pyproject.toml
  tests/test_ensembles.py
  tests/test_indices.py
  tests/test_sdba/test_base.py
  tests/test_temperature.py
  tests/test_utils.py
  xclim/core/bootstrapping.py
  xclim/core/calendar.py
  xclim/core/units.py
  xclim/ensembles/_robustness.py
  xclim/indicators/land/_streamflow.py
  xclim/indices/_agro.py
  xclim/indices/_simple.py
  xclim/indices/_threshold.py
  xclim/indices/fire/_cffwis.py
  xclim/sdba/_processing.py
  xclim/sdba/adjustment.py
  xclim/sdba/base.py
  xclim/sdba/properties.py
  xclim/sdba/utils.py
  xclim/testing/helpers.py
Labels: standards / conventions, sdba, CI, docs, approved, indicators

#1578 Workflow Hardening - Step 2
  .github/labeler.yml
  .github/workflows/actions-versions-updater.yml
  .github/workflows/add-to-project.yml
  .github/workflows/bump-version.yml
  .github/workflows/cache-cleaner.yml
  .github/workflows/dependency-review.yml
  .github/workflows/first_pull_request.yml
  .github/workflows/label.yml
  .github/workflows/label_on_approval.yml
  .github/workflows/main.yml
  .github/workflows/publish-mastodon.yml
  .github/workflows/testdata_version.yml
  .github/workflows/upstream.yml
  .pre-commit-config.yaml
  CHANGES.rst
  pyproject.toml
Labels: standards / conventions, CI, approved

#1561 Support indexer in schema.yml, add usage example in `example.yml`
  CHANGES.rst
  docs/notebooks/example/example.yml
  pyproject.toml
  xclim/data/schema.yml
Labels: docs, approved, indicators

#1590 Take units from cf_xarray
  CHANGES.rst
  docs/notebooks/units.ipynb
  pyproject.toml
  tests/test_generic_indicators.py
  tests/test_sdba/test_properties.py
  tests/test_seaice.py
  tests/test_units.py
  xclim/core/units.py
Labels: sdba, docs, approved

#1591 Change xscen partition input function name in notebook
  docs/notebooks/partitioning.ipynb
  pyproject.toml
Labels: docs, approved

#1596 Update deps to add yamale
  .github/workflows/main.yml
  CHANGES.rst
  environment.yml
  pyproject.toml
Labels: bug, CI, approved

#1597 Update allowed connections lists
  .github/workflows/add-to-project.yml
  .github/workflows/bump-version.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/first_pull_request.yml
  .github/workflows/label_on_approval.yml
  .github/workflows/main.yml
  .github/workflows/upstream.yml
  CHANGES.rst
Labels: CI, approved

#1599 Update to organization-scope Personal Access Token
  .github/workflows/bump-version.yml
Labels: standards / conventions, CI, approved

#1601 [bot] Update GitHub Action Versions
  .github/workflows/bump-version.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/scorecard.yml
Labels: CI, approved

#1603 Update scorecard.yml with token
  .github/workflows/scorecard.yml
Labels: CI, approved

#1613 Support Python3.12
  .github/workflows/main.yml
  CHANGES.rst
  environment.yml
  pyproject.toml
  tox.ini
Labels: CI, approved

#1607 fix freq='D' behaviour of standardized indices
  CHANGES.rst
  tests/test_indices.py
  xclim/indices/_agro.py
  xclim/indices/stats.py
Labels: approved, indicators

#1621 Remove `eofs`
  .github/workflows/main.yml
  CHANGES.rst
  docs/installation.rst
  docs/references.bib
  environment.yml
  tests/test_sdba/test_properties.py
  tox.ini
  xclim/sdba/properties.py
Labels: standards / conventions, priority, sdba, CI, docs, approved, dependencies

#1604 Enact security policy
  .github/workflows/main.yml
  CHANGES.rst
  CODE_OF_CONDUCT.md
  SECURITY.md
  docs/conf.py
  docs/index.rst
  docs/security.rst
  environment.yml
  pyproject.toml
Labels: standards / conventions, information, CI, docs, approved

#1626 Synchronize code formatters with `pre-commit`
  .pre-commit-config.yaml
  CHANGES.rst
  docs/autodoc_indicator.py
  environment.yml
  pyproject.toml
  tests/test_generic.py
  tests/test_land.py
  tests/test_stats.py
  tox.ini
  xclim/__init__.py
  xclim/analog.py
  xclim/cli.py
  xclim/core/__init__.py
  xclim/core/bootstrapping.py
  xclim/core/calendar.py
  xclim/core/cfchecks.py
  xclim/core/datachecks.py
  xclim/core/dataflags.py
  xclim/core/formatting.py
  xclim/core/indicator.py
  xclim/core/locales.py
  xclim/core/missing.py
  xclim/core/options.py
  xclim/core/units.py
  xclim/core/utils.py
  xclim/ensembles/__init__.py
  xclim/ensembles/_base.py
  xclim/ensembles/_reduce.py
  xclim/ensembles/_robustness.py
  xclim/indicators/__init__.py
  xclim/indicators/atmos/__init__.py
  xclim/indicators/atmos/_conversion.py
  xclim/indicators/atmos/_precip.py
  xclim/indicators/atmos/_synoptic.py
  xclim/indicators/atmos/_temperature.py
  xclim/indicators/generic/__init__.py
  xclim/indicators/land/__init__.py
  xclim/indicators/land/_streamflow.py
  xclim/indicators/seaIce/__init__.py
  xclim/indicators/seaIce/_seaice.py
  xclim/indices/__init__.py
  xclim/indices/fire/_cffwis.py
  xclim/indices/generic.py
  xclim/indices/helpers.py
  xclim/indices/run_length.py
  xclim/indices/stats.py
  xclim/sdba/__init__.py
  xclim/sdba/_adjustment.py
  xclim/sdba/_processing.py
  xclim/sdba/base.py
  xclim/sdba/detrending.py
  xclim/sdba/loess.py
  xclim/sdba/measures.py
  xclim/sdba/utils.py
  xclim/testing/__init__.py
  xclim/testing/helpers.py
  xclim/testing/sdba_utils.py
  xclim/testing/utils.py
Labels: sdba, CI, API, docs, approved, indicators, dependencies

#1625 Option to output datasets
  CHANGES.rst
  docs/notebooks/usage.ipynb
  tests/test_indicators.py
  xclim/core/indicator.py
  xclim/core/options.py
Labels: CI, docs, approved

#1629 Pin pytest below v8.0, use bump-my-version conda package
  environment.yml
  pyproject.toml
Labels: approved

#1630 add missing robustness functions in docs
  CHANGES.rst
  docs/api.rst
  xclim/ensembles/_robustness.py
Labels: docs, approved
