Repository Ouranosinc/xclim, pull requests merged in 2024-02, with the labels that each got.

#1635 Option to cap low winds to 0.5 m/s
  .zenodo.json
  AUTHORS.rst
  CHANGES.rst
  docs/references.bib
  tests/test_indices.py
  xclim/indices/_conversion.py
Labels: docs, approved, indicators

#1640 Fix docstring for dry_days
  xclim/indices/_threshold.py
Labels: invalid, approved, indicators

#1648 Add builds for windows and macOS
  .github/workflows/main.yml
  CHANGES.rst
  tests/conftest.py
  tests/test_testing_utils.py
  tox.ini
Labels: standards / conventions, CI, approved

#1647 Better degree_days_exceedance_date and ensemble stats
  CHANGES.rst
  tests/test_ensembles.py
  tests/test_temperature.py
  xclim/core/calendar.py
  xclim/core/utils.py
  xclim/ensembles/_base.py
  xclim/indices/_threshold.py
Labels: priority, approved, indicators

#1649 Sum is a sum
  CHANGES.rst
  tests/test_atmos.py
  tests/test_units.py
  xclim/core/units.py
Labels: approved

#1644 Remove lmoments3
  .github/workflows/main.yml
  CHANGES.rst
  docs/notebooks/frequency_analysis.ipynb
  environment.yml
  pyproject.toml
  tests/test_stats.py
  tox.ini
  xclim/core/utils.py
  xclim/indices/stats.py
Labels: priority, CI, docs, approved

#1643 Rolling statistics
  CHANGES.rst
  tests/test_generic.py
  xclim/indices/generic.py
Labels: priority, approved

#1566 reorder with window
  CHANGES.rst
  tests/test_sdba/test_processing.py
  xclim/sdba/_processing.py
Labels: sdba, approved

#1655 harden runner does not work on container images
  .github/workflows/main.yml
  CHANGES.rst
Labels: CI, approved

#1654 Prepare version 0.48.0
  CHANGES.rst
  pyproject.toml
  xclim/__init__.py
Labels: priority, approved

#1657 Prepare v0.48.1
  .github/workflows/publish-mastodon.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/tag-testpypi.yml
  CHANGES.rst
  environment.yml
  pyproject.toml
  xclim/__init__.py
Labels: CI, approved

#1658 Pin nbconvert
  CHANGES.rst
  environment.yml
  pyproject.toml
Labels: bug, priority, approved, dependencies

#1660 Update CHANGES.rst
  CHANGES.rst
Labels: approved

#1664 add measure to yaml indicator description
  CHANGES.rst
  tests/test_modules.py
  xclim/core/indicator.py
  xclim/data/schema.yml
Labels: priority, approved, indicators

#1668 Prepare v0.48.2
  CHANGES.rst
  pyproject.toml
  xclim/__init__.py
Labels: standards / conventions, approved

#1669 Master to main
  .github/DISCUSSION_TEMPLATE/questions.yml
  .github/DISCUSSION_TEMPLATE/translations.yml
  .github/ISSUE_TEMPLATE/0001-GENERIC-ISSUE-TEMPLATE.yml
  .github/ISSUE_TEMPLATE/0002-BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/0003-FEATURE-REQUEST.yml
  .github/workflows/bump-version.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/main.yml
  .github/workflows/scorecard.yml
  .github/workflows/upstream.yml
  CHANGES.rst
  CONTRIBUTING.rst
  README.rst
  docs/conf.py
  docs/installation.rst
  docs/notebooks/extendxclim.ipynb
Labels: standards / conventions, information, CI, docs, approved

#1672 Add missing formatting words and operations for generic stats
  CHANGES.rst
  tests/test_generic_indicators.py
  xclim/core/formatting.py
  xclim/data/fr.json
  xclim/indices/generic.py
Labels: approved, indicators
