Repository Ouranosinc/xclim, pull requests merged in 2024-09, with the labels that each got.

#1896 FIX: Standardize method applied on individual variables in OTC/dOTC
  CHANGELOG.rst
  docs/notebooks/sdba.ipynb
  tests/test_sdba/test_adjustment.py
  xclim/sdba/_adjustment.py
  xclim/sdba/adjustment.py
  xclim/sdba/utils.py
Labels: sdba, docs, approved

#1885 Heat spells
  CHANGELOG.rst
  tests/test_formatting.py
  tests/test_generic.py
  tests/test_indicators.py
  tests/test_temperature.py
  xclim/core/indicator.py
  xclim/data/fr.json
  xclim/indicators/atmos/_temperature.py
  xclim/indices/generic.py
Labels: approved, indicators

#1920 Fix for xarray 2024.09.0
  CHANGELOG.rst
  docs/notebooks/analogs.ipynb
  docs/notebooks/extendxclim.ipynb
  docs/notebooks/sdba-advanced.ipynb
  docs/notebooks/sdba.ipynb
  docs/notebooks/units.ipynb
  docs/notebooks/usage.ipynb
  tests/test_testing_utils.py
  xclim/core/calendar.py
  xclim/core/units.py
  xclim/indices/helpers.py
Labels: docs, approved

#1924 Patch Release: V0.52.2
  CHANGELOG.rst
  pyproject.toml
  xclim/__init__.py
Labels: approved

#1918 Patch release: V0.52.1
  CHANGELOG.rst
  environment.yml
  pyproject.toml
  tests/test_testing_utils.py
  xclim/__init__.py
  xclim/core/calendar.py
  xclim/core/units.py
  xclim/indices/helpers.py
Labels: bug, priority, docs, approved

#1895 FIX: Remove old MBCn cells in sdba.ipynb
  CHANGELOG.rst
  docs/notebooks/sdba.ipynb
Labels: docs, approved

#1910 Apply SciPy-like repository suggestions
  .github/ISSUE_TEMPLATE.md
  .github/dependabot.yml
  .github/publish-mastodon-template.md
  .github/workflows/publish-mastodon.yml
  .pre-commit-config.yaml
  CHANGELOG.rst
  CODE_OF_CONDUCT.md
  Makefile
  SECURITY.md
  docs/notebooks/benchmarks/sdba_quantile.ipynb
  pyproject.toml
  tests/conftest.py
  tests/test_analog.py
  tests/test_cli.py
  tests/test_locales.py
  tests/test_modules.py
  tests/test_run_length.py
  tests/test_sdba/test_adjustment.py
  tests/test_sdba/test_loess.py
  tests/test_units.py
  tox.ini
  xclim/cli.py
  xclim/core/indicator.py
  xclim/core/units.py
  xclim/sdba/processing.py
  xclim/testing/conftest.py
  xclim/testing/utils.py
Labels: sdba, CI, API, docs, approved, indicators

#1906 Use caching to speed up testdata fetching, fix upstream builds, scipy suggestions
  .github/ISSUE_TEMPLATE.md
  .github/dependabot.yml
  .github/publish-mastodon-template.md
  .github/workflows/main.yml
  .github/workflows/publish-mastodon.yml
  .github/workflows/upstream.yml
  .pre-commit-config.yaml
  CHANGELOG.rst
  CI/requirements_upstream.txt
  CODE_OF_CONDUCT.md
  Makefile
  SECURITY.md
  docs/notebooks/benchmarks/sdba_quantile.ipynb
  pyproject.toml
  tests/conftest.py
  tests/test_analog.py
  tests/test_cli.py
  tests/test_locales.py
  tests/test_modules.py
  tests/test_run_length.py
  tests/test_sdba/test_adjustment.py
  tests/test_sdba/test_loess.py
  tests/test_units.py
  tox.ini
  xclim/cli.py
  xclim/core/indicator.py
  xclim/core/units.py
  xclim/sdba/processing.py
  xclim/testing/conftest.py
  xclim/testing/utils.py
Labels: sdba, CI, API, docs, approved

#1915 Adopt SPEC0 calendar, drop Python3.9
  .github/workflows/main.yml
  CHANGELOG.rst
  CI/requirements_ci.in
  CI/requirements_ci.txt
  CONTRIBUTING.rst
  docs/notebooks/analogs.ipynb
  docs/notebooks/benchmarks/sdba_quantile.ipynb
  docs/notebooks/ensembles.ipynb
  docs/notebooks/partitioning.ipynb
  docs/notebooks/sdba.ipynb
  environment.yml
  pyproject.toml
  tests/test_cffwis.py
  tests/test_cli.py
  tests/test_ensembles.py
  tests/test_flags.py
  tests/test_indicators.py
  tests/test_locales.py
  tox.ini
  xclim/core/bootstrapping.py
  xclim/core/calendar.py
  xclim/core/formatting.py
  xclim/core/indicator.py
  xclim/core/locales.py
  xclim/core/options.py
  xclim/core/units.py
  xclim/core/utils.py
  xclim/ensembles/_base.py
  xclim/ensembles/_robustness.py
  xclim/indices/_agro.py
  xclim/indices/_anuclim.py
  xclim/indices/_multivariate.py
  xclim/indices/fire/_cffwis.py
  xclim/indices/generic.py
  xclim/indices/run_length.py
  xclim/sdba/_adjustment.py
  xclim/sdba/base.py
  xclim/sdba/loess.py
  xclim/sdba/processing.py
  xclim/sdba/properties.py
  xclim/sdba/utils.py
  xclim/testing/sdba_utils.py
  xclim/testing/utils.py
Labels: standards / conventions, information, sdba, CI, docs, approved, indicators, dependencies

#1930 Replace deprecated frequency alias A with Y
  CHANGELOG.rst
  tests/test_indicators.py
  xclim/core/indicator.py
  xclim/core/utils.py
  xclim/indicators/atmos/_temperature.py
Labels: approved, indicators
