Repository Ouranosinc/xclim, pull requests merged in 2024-08, with the labels that each got.

#1859 Workflow optimisations
  .github/workflows/main.yml
  .github/workflows/upstream.yml
  CHANGELOG.rst
  CONTRIBUTING.rst
  environment.yml
  pyproject.toml
  tox.ini
Labels: information, CI, docs, approved

#1862 Skip daily SPI tests with ML on older numpy to avoid dtype-related CI errors
  tests/test_indices.py
  tests/test_sdba/test_properties.py
Labels: sdba, approved

#1845 Generic season index - no season is length 0
  CHANGELOG.rst
  tests/test_indices.py
  tests/test_run_length.py
  tests/test_temperature.py
  xclim/indices/_threshold.py
  xclim/indices/generic.py
  xclim/indices/run_length.py
Labels: approved, indicators

#1864 cast high to float in jitter
  CHANGELOG.rst
  tests/test_indices.py
  xclim/sdba/processing.py
Labels: sdba, approved

#1870 Update dependency pins, fix typo
  .github/workflows/main.yml
  CHANGELOG.rst
  environment.yml
  pyproject.toml
  tests/test_atmos.py
  tests/test_generic.py
  tests/test_hydrology.py
  tests/test_indices.py
  tests/test_land.py
  tests/test_sdba/test_adjustment.py
  tests/test_snow.py
  tests/test_temperature.py
  tests/test_units.py
  tox.ini
  xclim/cli.py
  xclim/core/indicator.py
  xclim/core/units.py
Labels: sdba, CI, API, approved

#1787 dOTC
  .zenodo.json
  AUTHORS.rst
  CHANGELOG.rst
  docs/notebooks/sdba.ipynb
  docs/references.bib
  pyproject.toml
  tests/test_sdba/test_adjustment.py
  xclim/sdba/_adjustment.py
  xclim/sdba/adjustment.py
  xclim/sdba/utils.py
Labels: sdba, CI, docs, approved

#1876 Prepare v0.52.0
  CHANGELOG.rst
  pyproject.toml
  xclim/__init__.py
Labels: approved

#1880 Update codeql.yml
  .github/workflows/codeql.yml
Labels: standards / conventions, CI, approved

#1890 dOTC small fix
  CHANGELOG.rst
  xclim/sdba/_adjustment.py
Labels: sdba, approved

#1889 Use pooch
  .github/workflows/main.yml
  CHANGELOG.rst
  CONTRIBUTING.rst
  docs/notebooks/analogs.ipynb
  docs/notebooks/cli.ipynb
  docs/notebooks/customize.ipynb
  docs/notebooks/ensembles.ipynb
  docs/notebooks/extendxclim.ipynb
  docs/notebooks/sdba-advanced.ipynb
  docs/notebooks/sdba.ipynb
  docs/notebooks/units.ipynb
  docs/notebooks/usage.ipynb
  environment.yml
  pyproject.toml
  tests/conftest.py
  tests/test_analog.py
  tests/test_atmos.py
  tests/test_ensembles.py
  tests/test_indices.py
  tests/test_testing_utils.py
  xclim/cli.py
  xclim/ensembles/_partitioning.py
  xclim/testing/conftest.py
  xclim/testing/helpers.py
  xclim/testing/registry.txt
  xclim/testing/utils.py
Labels: information, CI, API, docs, approved
