Repository Ouranosinc/xclim, pull requests merged in 2025-04, with the labels that each got.

#2140 Clearness index
  CHANGELOG.rst
  docs/references.bib
  src/xclim/data/fr.json
  src/xclim/data/variables.yml
  src/xclim/indicators/atmos/_conversion.py
  src/xclim/indices/_conversion.py
  tests/test_atmos.py
Labels: docs, approved, indicators

#2135 Improved Degree-Day calculations, format bibtex files
  .pre-commit-config.yaml
  CHANGELOG.rst
  docs/paper/paper.bib
  docs/references.bib
  src/xclim/data/fr.json
  src/xclim/indicators/atmos/_temperature.py
  src/xclim/indices/_threshold.py
  tests/test_indices.py
Labels: CI, docs, approved, indicators, low hanging fruit

#2141 Fix docs
  .github/workflows/main.yml
  .pre-commit-config.yaml
  CHANGELOG.rst
  Makefile
  docs/conf.py
  docs/notebooks/example/example.yml
  docs/notebooks/extendxclim.ipynb
  environment.yml
  pyproject.toml
  tox.ini
Labels: CI, docs, approved

#2147 add dtr to variables
  CHANGELOG.rst
  src/xclim/data/variables.yml
Labels: approved, indicators

#2150 Allow unequal periods in `infer_sampling_units` and `stack_periods`.
  CHANGELOG.rst
  src/xclim/core/calendar.py
  src/xclim/core/units.py
  tests/test_calendar.py
  tests/test_units.py
Labels: approved
