Repository Ouranosinc/xclim, pull requests merged in 2025-08, with the labels that each got.

#2228 Fix tests relying on inexact pint 0.24 and avoid numbagg-introduced noise in standardized index testing
  CHANGELOG.rst
  environment.yml
  pyproject.toml
  src/xclim/core/units.py
  src/xclim/indices/_agro.py
  src/xclim/indices/_hydrology.py
  tests/conftest.py
  tests/test_flags.py
  tests/test_indices.py
  tests/test_precip.py
Labels: approved, indicators

#2229 Use importlib.metadata to get more accurate dependency and version strings
  CHANGELOG.rst
  src/xclim/testing/utils.py
  tests/test_cli.py
  tests/test_testing_utils.py
Labels: approved

#2230 Handle weekly isocalendar changes
  CHANGELOG.rst
  src/xclim/indices/stats.py
Labels: approved

#2225 Fix build-up index
  CHANGELOG.rst
  src/xclim/indices/fire/_cffwis.py
  tests/test_cffwis.py
Labels: approved, indicators

#2233 Address click deprecation - use h5netcdf in cli tests
  src/xclim/cli.py
  tests/test_cli.py
Labels: approved

#2208 Snowfall and rain approximation from Dai 2008
  CHANGELOG.rst
  docs/_static/indsearch.js
  docs/api_indicators.rst
  docs/conf.py
  docs/indices.rst
  docs/notebooks/cli.ipynb
  docs/notebooks/usage.ipynb
  docs/references.bib
  src/xclim/core/formatting.py
  src/xclim/core/utils.py
  src/xclim/indices/converters.py
  tests/test_converters.py
  tests/test_indices.py
Labels: docs, indicators

#2234 Prepare v0.58.0
  CHANGELOG.rst
  pyproject.toml
  src/xclim/__init__.py
Labels: approved

#2236 Unpin scipy
  CHANGELOG.rst
  pyproject.toml
Labels: approved
