Repository Ouranosinc/xclim, pull requests merged in 2025-01, with the labels that each got.

#2030 Add Christmas Day indices, add bivariate_count_occurrences
  .github/workflows/main.yml
  CHANGELOG.rst
  environment.yml
  pyproject.toml
  src/xclim/data/fr.json
  src/xclim/indicators/land/_snow.py
  src/xclim/indices/_threshold.py
  src/xclim/indices/generic.py
  src/xclim/testing/registry.txt
  src/xclim/testing/utils.py
  tests/test_indices.py
  tests/test_snow.py
Labels: CI, approved, indicators

#2028 Adjust test to find xclim location via importlib
  CHANGELOG.rst
  tests/test_modules.py
Labels: bug, approved

#2038 Fix sdba Grouper.get_coordinate after xarray update
  src/xclim/sdba/base.py
Labels: sdba, approved

#2046 More detailed energy and carbon stats
  CHANGELOG.rst
  README.rst
Labels: CI, docs, approved

#2040 Clean and export the units registry
  src/xclim/core/dataflags.py
  src/xclim/core/indicator.py
  src/xclim/core/units.py
  src/xclim/indices/_threshold.py
  src/xclim/indices/fire/_cffwis.py
  src/xclim/indices/fire/_ffdi.py
  tests/test_indicators.py
  tests/test_indices.py
  tests/test_units.py
Labels: approved, indicators

#2057 Adjust tests for Windows environments
  CHANGELOG.rst
  tests/test_modules.py
  tests/test_sdba/conftest.py
  tests/test_sdba/test_adjustment.py
Labels: bug, sdba, approved
