Repository Ouranosinc/xclim, pull requests merged in 2025-05, with the labels that each got.

#2157 Mahalanobis
  .github/workflows/main.yml
  .gitignore
  .zenodo.json
  AUTHORS.rst
  CHANGELOG.rst
  docs/analogues.rst
  docs/api.rst
  docs/references.bib
  src/xclim/analog.py
  src/xclim/testing/registry.txt
  src/xclim/testing/utils.py
Labels: CI, docs, approved

#2164 Fix `create_ensemble` calendar argument docstring
  CHANGELOG.rst
  src/xclim/ensembles/_base.py
Labels: approved

#2099 Split sdba
  .github/labeler.yml
  .github/workflows/main.yml
  .github/workflows/sdba-warning.yml
  .pre-commit-config.yaml
  .pylintrc.toml
  CHANGELOG.rst
  CI/requirements_upstream.txt
  CONTRIBUTING.rst
  docs/api.rst
  docs/conf.py
  docs/installation.rst
  docs/notebooks/benchmarks/sdba_quantile.ipynb
  docs/notebooks/index.rst
  docs/notebooks/sdba-advanced.ipynb
  docs/notebooks/sdba.ipynb
  docs/sdba.rst
  environment.yml
  pyproject.toml
  src/xclim/core/options.py
  src/xclim/sdba.py
  src/xclim/sdba/__init__.py
  src/xclim/sdba/_adjustment.py
  src/xclim/sdba/_processing.py
  src/xclim/sdba/adjustment.py
  src/xclim/sdba/base.py
  src/xclim/sdba/detrending.py
  src/xclim/sdba/loess.py
  src/xclim/sdba/measures.py
  src/xclim/sdba/nbutils.py
  src/xclim/sdba/processing.py
  src/xclim/sdba/properties.py
  src/xclim/sdba/utils.py
  src/xclim/testing/__init__.py
  src/xclim/testing/diagnostics.py
  src/xclim/testing/sdba_utils.py
  tests/test_sdba/conftest.py
  tests/test_sdba/test_adjustment.py
  tests/test_sdba/test_base.py
  tests/test_sdba/test_detrending.py
  tests/test_sdba/test_loess.py
  tests/test_sdba/test_measures.py
  tests/test_sdba/test_nbutils.py
  tests/test_sdba/test_processing.py
  tests/test_sdba/test_properties.py
  tests/test_sdba/test_sdba_utils.py
  tests/test_xsdba.py
  tox.ini
Labels: information, sdba, CI, docs, approved

#2139 Removed deprecated functions, deprecate `testing.open_dataset`
  .github/workflows/workflow-warning.yml
  CHANGELOG.rst
  src/xclim/core/utils.py
  src/xclim/indices/_conversion.py
  src/xclim/testing/conftest.py
  src/xclim/testing/helpers.py
  src/xclim/testing/utils.py
  tests/conftest.py
  tests/test_analog.py
  tests/test_bootstrapping.py
  tests/test_calendar.py
  tests/test_cffwis.py
  tests/test_cli.py
  tests/test_ensembles.py
  tests/test_ffdi.py
  tests/test_flags.py
  tests/test_hydrology.py
  tests/test_indicators.py
  tests/test_indices.py
  tests/test_missing.py
  tests/test_modules.py
  tests/test_partitioning.py
  tests/test_precip.py
  tests/test_run_length.py
  tests/test_temperature.py
  tests/test_testing_utils.py
  tests/test_wind.py
Labels: standards / conventions, sdba, CI, approved, indicators

#2170 Pylint adjustments
  .pylintrc.toml
  CHANGELOG.rst
  pyproject.toml
  src/xclim/analog.py
  src/xclim/cli.py
  src/xclim/core/calendar.py
  src/xclim/core/dataflags.py
  src/xclim/core/indicator.py
  src/xclim/core/utils.py
  src/xclim/ensembles/_base.py
  src/xclim/ensembles/_partitioning.py
  src/xclim/ensembles/_reduce.py
  src/xclim/ensembles/_robustness.py
  src/xclim/indicators/atmos/_temperature.py
  src/xclim/indices/_threshold.py
  src/xclim/indices/fire/_cffwis.py
  src/xclim/indices/generic.py
  src/xclim/indices/helpers.py
  src/xclim/indices/run_length.py
  src/xclim/sdba.py
Labels: standards / conventions, approved, indicators

#2144 Support DataTree
  docs/notebooks/example.ipynb
  docs/notebooks/usage.ipynb
  src/xclim/core/indicator.py
  src/xclim/core/units.py
  tests/test_indicators.py
  tests/test_units.py
Labels: priority, docs, approved

#2176 Add pytest-timeout, fix test engine bug
  CHANGELOG.rst
  environment.yml
  pyproject.toml
  tests/test_analog.py
  tests/test_bootstrapping.py
  tests/test_calendar.py
  tests/test_cffwis.py
  tests/test_cli.py
  tests/test_ensembles.py
  tests/test_ffdi.py
  tests/test_flags.py
  tests/test_hydrology.py
  tests/test_indicators.py
  tests/test_missing.py
  tests/test_modules.py
  tests/test_partitioning.py
  tests/test_precip.py
  tests/test_run_length.py
  tests/test_snow.py
  tests/test_temperature.py
  tests/test_units.py
  tests/test_wind.py
Labels: priority, approved

#2136 Faster rle
  CHANGELOG.rst
  environment.yml
  src/xclim/indices/run_length.py
  tests/test_run_length.py
Labels: priority, approved

#2178 Fix robustness fractions and categories for no data
  CHANGELOG.rst
  src/xclim/ensembles/_robustness.py
  tests/test_ensembles.py
Labels: priority, approved

#2181 A few fixes in sdba docs
  CHANGELOG.rst
  docs/references.rst
  docs/sdba.rst
Labels: priority, docs, approved
