Repository Ouranosinc/xclim, pull requests merged in 2025-03, with the labels that each got.

#2098 Fix/solar zenith time cast
  .zenodo.json
  AUTHORS.rst
  CHANGELOG.rst
  src/xclim/indices/helpers.py
  tests/test_helpers.py
Labels: docs, approved

#2100 Reenable py310 and add support policy
  .github/workflows/main.yml
  .pre-commit-config.yaml
  CHANGELOG.rst
  CI/requirements_ci.in
  CI/requirements_ci.txt
  docs/index.rst
  docs/support.rst
  environment.yml
  pyproject.toml
  tox.ini
Labels: standards / conventions, information, CI, docs, approved, dependencies

#2102 Deprecate heat wave index
  CHANGELOG.rst
  src/xclim/indicators/atmos/_temperature.py
  src/xclim/indices/_threshold.py
  tests/test_indices.py
Labels: approved, indicators

#1877 Standardized Streamflow Index and Standardized Groundwater level Index
  .github/workflows/main.yml
  CHANGELOG.rst
  docs/references.bib
  src/xclim/core/indicator.py
  src/xclim/data/fr.json
  src/xclim/data/variables.yml
  src/xclim/indicators/atmos/_precip.py
  src/xclim/indicators/land/_streamflow.py
  src/xclim/indices/_agro.py
  src/xclim/indices/_hydrology.py
  src/xclim/indices/stats.py
  src/xclim/testing/helpers.py
  src/xclim/testing/registry.txt
  src/xclim/testing/utils.py
  tests/test_hydrology.py
  tests/test_indices.py
Labels: CI, docs, approved, indicators

#2114 Fix issue with xr.core.ops renamed in versions of xarray>=2025.3.0
  .zenodo.json
  AUTHORS.rst
  CHANGELOG.rst
  src/xclim/indices/generic.py
Labels: docs

#2116 Temporarily revert star annotation in call signatures - remove all internal xarray imports
  .pre-commit-config.yaml
  .zenodo.json
  AUTHORS.rst
  CHANGELOG.rst
  src/xclim/core/bootstrapping.py
  src/xclim/core/calendar.py
  src/xclim/core/formatting.py
  src/xclim/core/indicator.py
  src/xclim/core/locales.py
  src/xclim/core/missing.py
  src/xclim/core/options.py
  src/xclim/core/utils.py
  src/xclim/indices/fire/_cffwis.py
  src/xclim/indices/generic.py
  src/xclim/indices/helpers.py
  src/xclim/indices/run_length.py
  src/xclim/sdba/adjustment.py
  src/xclim/sdba/base.py
  src/xclim/sdba/nbutils.py
  src/xclim/sdba/processing.py
  src/xclim/sdba/utils.py
  src/xclim/testing/utils.py
  tests/test_indicators.py
Labels: bug, sdba, CI, docs, approved, indicators

#2126 Fix CI preliminary build, mark xfail oddly-behaving test
  .github/workflows/main.yml
  tests/test_indices.py
  tox.ini
Labels: priority, sdba, CI, approved

#2117 Consistent naming for conversion indices
  CHANGELOG.rst
  src/xclim/indicators/atmos/_conversion.py
  src/xclim/indices/_conversion.py
  tests/test_indices.py
Labels: priority, approved, indicators

#2112 Avoid unnecessary time frequency resampling
  CHANGELOG.rst
  src/xclim/indices/stats.py
Labels: approved

#2132 Fix fire season with non-uniform chunks
  CHANGELOG.rst
  src/xclim/indices/fire/_cffwis.py
Labels: approved, indicators

#2128 fix all .. math:: tags
  CHANGELOG.rst
  src/xclim/analog.py
  src/xclim/indices/__init__.py
  src/xclim/indices/_agro.py
  src/xclim/indices/_conversion.py
  src/xclim/indices/_multivariate.py
  src/xclim/indices/_simple.py
  src/xclim/indices/_threshold.py
  src/xclim/indices/fire/_cffwis.py
  src/xclim/indices/stats.py
  src/xclim/sdba/adjustment.py
  src/xclim/sdba/processing.py
  src/xclim/testing/diagnostics.py
Labels: sdba, approved, indicators

#2130 Datetime fixes
  CHANGELOG.rst
  src/xclim/core/calendar.py
  src/xclim/core/units.py
  src/xclim/indices/run_length.py
  src/xclim/testing/helpers.py
  tests/test_calendar.py
  tests/test_checks.py
  tests/test_ensembles.py
  tests/test_indices.py
  tests/test_missing.py
  tests/test_run_length.py
  tests/test_sdba/test_adjustment.py
  tests/test_sdba/test_detrending.py
  tests/test_sdba/test_sdba_utils.py
  tests/test_stats.py
  tests/test_units.py
Labels: sdba, approved

#2134 Prepare v0.56.0
  CHANGELOG.rst
  pyproject.toml
  src/xclim/__init__.py
Labels: priority, approved
