Repository Ouranosinc/xclim, pull requests merged in 2025-02, with the labels that each got.

#2019 Correctly interpolate seasons in Grouper
  CHANGELOG.rst
  docs/installation.rst
  docs/notebooks/sdba-advanced.ipynb
  src/xclim/sdba/base.py
  src/xclim/sdba/nbutils.py
  src/xclim/sdba/utils.py
  src/xclim/testing/helpers.py
  tests/test_bootstrapping.py
  tests/test_calendar.py
  tests/test_helpers.py
  tests/test_sdba/test_adjustment.py
  tests/test_sdba/test_base.py
Labels: bug, standards / conventions, sdba, docs, approved

#2054 Support Python3.13
  .github/workflows/main.yml
  CHANGELOG.rst
  docs/autodoc_indicator.py
  docs/notebooks/_finder.py
  docs/notebooks/example/example.py
  docs/notebooks/extendxclim.ipynb
  docs/notebooks/partitioning.ipynb
  environment.yml
  pyproject.toml
  src/xclim/cli.py
  src/xclim/core/formatting.py
  src/xclim/core/indicator.py
  src/xclim/core/missing.py
  src/xclim/core/utils.py
  src/xclim/ensembles/_robustness.py
  src/xclim/indices/_agro.py
  src/xclim/indices/_anuclim.py
  src/xclim/indices/_conversion.py
  src/xclim/indices/fire/_ffdi.py
  src/xclim/indices/stats.py
  src/xclim/sdba/_adjustment.py
  src/xclim/sdba/_processing.py
  src/xclim/sdba/adjustment.py
  src/xclim/sdba/base.py
  src/xclim/sdba/detrending.py
  src/xclim/sdba/loess.py
  src/xclim/sdba/measures.py
  src/xclim/sdba/nbutils.py
  src/xclim/sdba/processing.py
  src/xclim/sdba/properties.py
  src/xclim/sdba/utils.py
  tests/conftest.py
  tests/test_analog.py
  tests/test_indicators.py
  tests/test_sdba/test_adjustment.py
  tests/test_units.py
  tox.ini
Labels: sdba, CI, docs, approved, indicators

#2067 Exportable function for fao_allen98
  CHANGELOG.rst
  src/xclim/indices/_conversion.py
  tests/test_atmos.py
  tests/test_indices.py
Labels: approved, indicators

#2058 Refactor missing methods
  CHANGELOG.rst
  src/xclim/core/indicator.py
  src/xclim/core/missing.py
  src/xclim/core/options.py
  tests/test_indicators.py
  tests/test_missing.py
  tests/test_options.py
Labels: priority, approved

#2076 Update doc for custom missing methods
  docs/notebooks/customize.ipynb
Labels: docs, approved

#2072 Add vapour pressure deficit
  CHANGELOG.rst
  src/xclim/data/fr.json
  src/xclim/indicators/atmos/_conversion.py
  src/xclim/indices/_conversion.py
  tests/test_indices.py
Labels: enhancement, priority, approved, indicators

#2045 Change lmoments3 behaviour with fitkwargs
  CHANGELOG.rst
  src/xclim/indices/_agro.py
  src/xclim/indices/stats.py
  tests/test_indices.py
Labels: approved, indicators

#2055 Dynamic time selection
  .zenodo.json
  AUTHORS.rst
  CHANGELOG.rst
  docs/notebooks/customize.ipynb
  src/xclim/core/calendar.py
  src/xclim/core/missing.py
  tests/test_generic.py
  tests/test_indicators.py
  tests/test_missing.py
  tests/test_options.py
Labels: enhancement, priority, docs, approved

#2080 Fix two indicator signature issues - clean up changelog
  CHANGELOG.rst
  src/xclim/indicators/atmos/_precip.py
  src/xclim/indicators/atmos/_temperature.py
Labels: approved, indicators

#2077 Add xclim.indices.stats.fit method: MSE (maximum product of spacings)
  CHANGELOG.rst
  src/xclim/indices/stats.py
  tests/test_stats.py
Labels: approved

#2081 Prepare v0.55.0
  CHANGELOG.rst
  pyproject.toml
  src/xclim/__init__.py
Labels: approved

#2073 FutureWarning for sdba migration to `xsdba`
  .github/workflows/sdba-warning.yml
  CHANGELOG.rst
  docs/api.rst
  src/xclim/sdba/__init__.py
Labels: sdba, CI, docs, approved

#2082 Deprecate Python3.10, drop Black/Isort/NBQA
  .github/workflows/main.yml
  .gitignore
  .pre-commit-config.yaml
  .readthedocs.yml
  CHANGELOG.rst
  Makefile
  README.rst
  docs/references.rst
  environment.yml
  pyproject.toml
  tests/test_cffwis.py
  tox.ini
Labels: standards / conventions, CI, docs, approved

#2087 Prep v0.55.1
  CHANGELOG.rst
  pyproject.toml
  src/xclim/__init__.py
  src/xclim/sdba/base.py
  tests/test_sdba/test_adjustment.py
Labels: sdba, approved

#2089 Fix installation instructions in the Contributing guide
  CHANGELOG.rst
  CONTRIBUTING.rst
  docs/installation.rst
Labels: information, docs, approved
